<div antiforgerytoken></div><div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Log Details</h3>
    </div>
    <div class="widget-content">
        <form name="TermianalloginfoForm" class="serviceForm">
            <div>
                <div class="form-group">
                    <label>Log Id</label>
                    <input class="input-md" disabled ng-model="vmTILogs.entity.Id" />
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input class="input-md" disabled ng-model="vmTILogs.entity.Date" />
                </div>
                <div class="form-group">
                    <label>Level</label>
                    <input class="input-md" disabled ng-model="vmTILogs.entity.Level" />
                </div>
                <div class="form-group">
                    <label>Logger</label>
                    <input class="input-md" disabled ng-model="vmTILogs.entity.logger" />
                </div>
                <div class="form-group">
                    <label>Host Name</label>
                    <input class="input-md" disabled ng-model="vmTILogs.entity.HostName" />
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <!--<input class="input" type="text" disabled ng-model="vmTILogs.entity.Message" />-->
                    <textarea class="textarea-lg" disabled ng-model="vmTILogs.entity.Message" />
                </div>
                <div class="form-group">
                    <label>Exception</label>
                    <!--<input class="input" type="text" disabled ng-model="vmTILogs.entity.Excecption" />-->
                    <textarea class="textarea-lg" disabled ng-model="vmTILogs.entity.Excecption" />
                </div>                
            </div>
        </form>
    </div>
</div>

