<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Edit Contact Provider</h3>
    </div>
    <div class="widget-content">
        <form class="serviceForm" name="EditBranchForm">
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group">
                <label class="label-lg">Tenant</label>
                <input class="input" type="text" ng-disabled="true" value="{{vcontactprovidermap.entity.Tenant}}" />
            </div>
                <div class="form-group">
                    <label class="label-lg">Customer Name</label>
                    <input class="input" ng-disabled="true" type="text" name="ExternalCustomer" required ng-model="vcontactprovidermap.entity.CustomerName" />
                    <div class="help-block" ng-messages="EditBranchForm.ExternalCustomer.$error">
                    </div>
                </div>
                <div class="well well-sm">
                    <b>Conditions</b>
                </div>
                <div class="form-group required">
                    <label class="label-lg">Location Name</label>
                    <select required ng-model="vcontactprovidermap.entity.LocationId" ng-options="obj.LocationId as obj.LocationName for obj in vcontactprovidermap.LocationList" ng-change="vcontactprovidermap.LoadContactIdbylocationId(vcontactprovidermap.entity.LocationId)">
                        <option value="">-Any-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-lg">Contact ID</label>
                    <select ng-model="vcontactprovidermap.entity.ContactId" ng-options="obj.ContactId as obj.LvisContactid for obj in vcontactprovidermap.ContactIdList">
                        <option value="">-Any-</option>
                    </select>
                </div>
                <div class="well well-sm">
                    <b>Results</b>
                </div>
            <div class="form-group required">
                <label class="label-lg">Provider Name</label>
                <select required ng-model="vcontactprovidermap.entity.ProviderID" ng-options="obj.ProviderID as obj.ProviderName for obj in vcontactprovidermap.ProviderList">
                    <option value="">-Any-</option>
                </select>
            </div>
</form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="!hasAccess || EditBranchForm.$invalid || (!EditBranchForm.$dirty && !EditBranchForm.FormDirty)" ng-click="vcontactprovidermap.save()">Save</button>
        <!--<button class="btn btn-danger" ng-disabled="!hasSuperAccess" ng-click="vcontactprovidermap.remove()">Delete</button>-->
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
 </div>

