<div antiforgerytoken></div>
<div>
    <div class="widget-header ps-widget-header-buttons">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New Contact Provider</h3>
    </div>
    <div class="widget-content">
        <form class="serviceForm" name="AddBranchForm">            
            <div growl inline="true" limit-messages="1"></div>            
                <div class="form-group">
                    <label class="label-md">Tenant</label>
                    <input class="input" ng-disabled="true" type="text" name="Tenant" required title="{{vcontactprovidermap.entity.Tenant}}" ng-model="vcontactprovidermap.entity.Tenant" />
                    <div class="help-block" ng-messages="AddBranchForm.Tenant.$error">                  
                </div>
                </div>
                <div class="form-group">
                    <label class="label-md">Customer Name</label>
                    <input class="input" ng-disabled="true" type="text" name="CustomerName" required title="{{vcontactprovidermap.entity.CustomerName}}" ng-model="vcontactprovidermap.entity.CustomerName" />
                    <div class="help-block" ng-messages="AddBranchForm.CustomerName.$error">
                    </div>
                </div>            
            <div class="well well-sm">
                <b>Conditions</b>
            </div>
            <div class="form-group required">
                <label class="label-md">Location Name</label>
                <select required ng-model="vcontactprovidermap.entity.LocationId" ng-options="obj.LocationId as obj.LocationName for obj in vcontactprovidermap.LocationList" ng-change="vcontactprovidermap.LoadContactIdbylocationId(vcontactprovidermap.entity.LocationId)">
                    <option value="">-Any-</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-md">Contact ID</label>
                <select ng-model="vcontactprovidermap.entity.ContactId" ng-options="obj.ContactId as obj.LvisContactid for obj in vcontactprovidermap.ContactIdList">
                    <option value="">-Any-</option>
                </select>
            </div>

            <div class="well well-sm">
                <b>Results</b>
            </div>
            <div class="form-group required">
                <label class="label-md">Provider Name</label>
                <select required ng-model="vcontactprovidermap.entity.ProviderID" ng-options="obj.ProviderID as obj.ProviderName for obj in vcontactprovidermap.ProviderList">
                    <option value="">-Any-</option>
                </select>
            </div>
</form>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="!hasAccess || AddBranchForm.$invalid || (!AddBranchForm.$dirty && !AddBranchForm.FormDirty)" ng-click="vcontactprovidermap.save()">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
