<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Edit FAST GAB Map</h3>
    </div>

    <div class="widget-content">
        <form name="FastGabEditForm" class="serviceForm">
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group">
                <input class="input" type="text" ng-hide="true" ng-model="vGab.entity.ID" />
            </div>
            <div class="form-group">
                <label class="label-lg">Location ID</label>
                <input class="select-lg" ng-disabled="true" ng-model="vGab.entity.LocationID" />
            </div>
            <div class="form-group">
                <label class="label-lg">Location Name</label>
                <input class="select-lg" ng-disabled="true" ng-model="vGab.entity.LocationName" />
            </div>
            <div class="form-group">
                <label class="label-lg">Description</label>
                <input ng-disabled="!hasAccess" class="select-lg" ng-model="vGab.entity.FASTGABMapDesc" />
            </div>
            <div class="well well-sm">
                <b>Conditions</b>
            </div>
            <div class="form-group required">
                <label class="label-lg">Region ID</label>
                <select class="select-lg" ng-disabled="!hasAccess" required ng-model="vGab.entity.RegionID" ng-options="obj.Id as obj.Name for obj in vGab.RegionList">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-lg">Loan Type</label>
                <select class="select-lg" ng-model="vGab.entity.LoanTypeCodeId" ng-options="obj.TypeCodeId as obj.TypeCodeDesc for obj in vGab.LoanTypeList | orderBy:'TypeCodeDesc'">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-lg">State</label>
                <select class="select-lg" ng-change="vGab.LoadCounty(vGab.State.StateFIPS)" ng-model="vGab.State" ng-options="obj as obj.PreferenceState for obj in vGab.StateFipsList | filter:$viewValue">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-lg">County</label>
                <select class="select-lg" ng-init="vGab.county == obj[0]" ng-model="vGab.county" ng-options="obj as obj.county for obj in vGab.CountyFipsList| filter:$viewValue"></select>
            </div>
            <div>
                <button class="btn btn-sm btn-link" style="cursor:pointer" ng-disabled="vGab.State == '' || !vGab.State " ng-click="vGab.AddCondition()"><i class="fa fa-plus"></i> Add Selected State/County</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>County</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Condition in  vGab.entity.Conditions">
                        <td>{{Condition.PreferenceState.PreferenceState}}</td>
                        <td>{{Condition.PreferenceCounty.county}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="vGab.Remove(Condition)">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="well well-sm">
                <b>Results</b>
            </div>
            <div class="form-group required">
                <label class="label-lg">Business Source ABEID</label>
                <input ng-disabled="!hasAccess" class="select-lg" required ng-model="vGab.entity.BusinessSourceABEID" />
            </div>

            <div class="form-group">
                <label class="label-lg">New Lender ABEID</label>
                <input class="select-lg" ng-model="vGab.entity.NewLenderABEID" />
            </div>
            
            <!--<div class="form-group">
            <label class="label-lg">Loan Type</label>
            <select ng-disabled="!hasAccess" ng-model="vGab.entity.LoanTypeCodeId" ng-options="obj.LoanTypeCodeId as obj.LoanType for obj in vGab.LoanTypeList">
                <option value="">---Please select---</option>
            </select>
        </div>-->
            
        </form>
        <br />
    </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="!hasAccess ||  FastGabEditForm.$invalid  || (!FastGabEditForm.$dirty && !vGab.FormDirty)" ng-click="vGab.save()" >Save</button>
            <button class="btn btn-danger" ng-disabled="!hasSuperAccess" ng-click="vGab.remove()">Delete</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>

