<div antiforgerytoken></div>
<div>
    <div class="widget-header" style="vertical-align:text-top;">
        <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <i class="fa fa-plus"></i>
        <h3>Add New FAST To LVIS Document</h3>
    </div>
        <div class="widget-content">
            <form name="FASTToLVISAddForm" class="serviceForm">      
                    
                <div growl inline="true" limit-messages="1"></div>
                <input class="select-md" ng-hide="true" required ng-model="vFastdocmap.entity.inboundDocumentMapid" />
                <div class="well well-sm">
                    <b>Conditions</b>
                </div> 
                <div class="form-group" ng-show="vFastdocmap.entity.Tenant == 'LVIS'">
                    <label class="label-lg">Tenant</label>
                    <input class="select-lg" disabled value="{{vFastdocmap.entity.Tenant}}" />
                </div>               

                <div class="form-group required">
                    <label class="label-lg">FAST Document Type</label>
                    <select class="select-lg" ng-init="vFastdocmap.entity.ExternalDocumentType =1000"  ng-model="vFastdocmap.entity.ExternalDocumentType" ng-options="obj.ID as obj.Name for obj in vFastdocmap.ExternalDoctypeList">
                       
                    </select>
                </div>

                <div class="form-group" ng-class="{'form-group required': vFastdocmap.entity.ExternalDocumentType == 1000}">
                    <label class="label-lg">FAST Document Description</label>
                    <input class="select-lg" ng-required="vFastdocmap.entity.ExternalDocumentType == 1000" ng-model="vFastdocmap.entity.ExternalDocumentDescription" >
                </div>

                <div class="form-group">
                    <label class="label-lg">Service</label>
                    <select class="select-lg" ng-model="vFastdocmap.entity.Service" ng-options="obj.ID as obj.Name for obj in vFastdocmap.ServiceList | orderBy:'Name'">
                        <option value="">--Any--</option>
                    </select>
                </div>     
                <div class="well well-sm">
                    <b>Results</b>
                </div> 
                <div class="form-group required">
                    <label class="label-lg">LVIS Document Type</label>
                    <select class="select-lg" required ng-model="vFastdocmap.entity.InternalDocumentType" ng-options="obj.ID as obj.Name for obj in vFastdocmap.InternalDoctypeList">
                        <option value="">---Please select---</option>
                    </select>
                </div>
                
            </form>
            <br />
            <div class="modal-footer">
                <button class="btn btn-success" ng-disabled="FASTToLVISAddForm.$invalid"  ng-click="vFastdocmap.save()">Save</button>
                <button class="btn btn-primary" ng-click="$close()">Cancel</button>
            </div>
        </div>
    </div>
