<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Edit Customer Info</h3>
    </div>
    <div class="widget-content">
        <form name="customerEditForm" class="serviceForm">
            <div growl inline="true" limit-messages="1"></div>
            <div>
                <label ng-hide="true"> ID</label>
                <input class="input" type="text" required ng-model="vlmap.entity.LID" ng-hide="true"/>
            </div>
            <div ng-show="tenantname == 'LVIS'">
                <label class="label-md">Tenant</label>
                <input class="input" type="text" ng-disabled="true" value="{{vlmap.entity.Tenant}}" />
            </div>   
            <div class="form-group">
                <div class="form-group">
                    <label class="label-md">Customer ID</label>
                    <input class="input" type="text" ng-disabled="true" required  ng-model="vlmap.entity.LVISCustomerID" />
                </div>                
                <div class="form-group required" ng-class="{ 'has-error' : customerEditForm.CustomerName.$invalid && !customerEditForm.CustomerName.$touched }">
                    <label class="label-md">Customer Name </label>
                    <input ng-minlength="3" ng-disabled="!hasAccess" ng-pattern="/^[a-zA-Z0-9\s-]+$/" class="input" name="CustomerName" type="text" required ng-model="vlmap.entity.CustomerName" />
                    <div ng-if="customerEditForm.CustomerName.$dirty" ng-min class="help-block with-errors" ng-messages="customerEditForm.CustomerName.$error">
                        <p ng-message="required">Customer Name cannot be empty.</p>
                        <p ng-message="minlength">Customer Name must contain at least 3 characters.</p>
                        <p ng-message="pattern">Special characters are not allowed</p>
                    </div>
                </div>  
                <div class="form-group">
                    <label class="label-md">Category</label>
                    <select name="category" ng-disabled="!hasAccess" required ng-model="vlmap.entity.CategoryId" ng-options="obj.CategoryId as obj.CategoryName for obj in vlmap.CategoryList | orderBy:'CategoryName'">
                        <option value="">---Please select---</option>
                    </select>
                </div>
                <div class="form-group required" ng-class="{ 'has-error' : customerEditForm.Application.$invalid && !customerEditForm.Application.$touched }">
                    <label class="label-md">Application</label>
                    <select name="Application"  ng-change="vlmap.LoadServicePreference()" ng-disabled="!hasAccess" required ng-model="vlmap.entity.Applicationid" ng-options="obj.ID as obj.Name for obj in vlmap.ApplicationList | orderBy:'Name'">
                        <option value="">---Please select---</option>
                    </select>
                </div> 
                <div ng-if="vlmap.CAPIShow" class="form-group required" ng-class="{ 'has-error' : customerEditForm.CAPIClientID.$invalid && !customerEditForm.CAPIClientID.$touched }">
                    <label class="label-md">CAPI ClientID </label>
                    <input ng-pattern="/^[0-9]+$/" class="input" name="CAPIClientID" type="text" required ng-model="vlmap.entity.CAPIClientID" />
                    <div ng-if="customerEditForm.CAPIClientID.$dirty" ng-min class="help-block with-errors" ng-messages="customerEditForm.CAPIClientID.$error">
                        <p ng-message="required">CAPI ClientID cannot be empty.</p>
                        <p ng-message="pattern">Numerical values are only allowed Without Spaces.</p>
                    </div>
                </div>
                <ng-form name="MultiSelectform">
                    <div ng-show="ServicePreferenceShow" class="form-group required" ng-class="{ 'has-error' : MultiSelectform.ServicePreference.$invalid && !MultiSelectform.ServicePreference.$touched }">
                        <label class="label-md">Service Preference </label>
                        <div class="select-sm" required isteven-multi-select
                             input-model="vlmap.ServicePrefrences"
                             output-model="vlmap.entity.ServicePreference"
                             button-label="Name"
                             item-label="Name"
                             tick-property="Ticked"
                             helper-elements="all none"
                             selection-mode=""
                             style="display:inline-block; padding:0px;width:196px; margin:0;">
                        </div>
                        <input type="text" ng-show="false" ng-model="vlmap.entity.ServicePreference" name="ServicePreference" style="display:none" ng-required="ServicePreferenceShow" />
                    </div>
                </ng-form>
                <div class="well well-sm">
                    <b>Preferences</b>
                </div>
                <div class="form-group">
                    <div id="CheckboxList" class="checkboxList" style="border:0px;">
                        <div class="col-md-12">
                            <div class="col-xs-3">
                                    <label class="checkbox-inline">
                                        <input ng-model="vlmap.selectedAll" type="checkbox" ng-click="vlmap.checkAll()" />
                                        Select All
                                    </label>
                            </div>
                            <div class="col-xs-3">
                                    <label class="checkbox-inline">
                                        <input ng-model="vlmap.unselectedAll" ng-click="vlmap.uncheckAll()" type="checkbox" />
                                        Deselect All
                                    </label>
                            </div>
                        </div>
                        <div class="checkboxList">
                            <div class="col-md-12">
                                <div class="checkbox" ng-repeat="role in vlmap.CustomerPrefernceList">
                                    <label ng-show="role.TypeCodeId != 809 || vlmap.IsCustomerCredentialEditAllowed">
                                        <input type="checkbox"  ng-model="role.Ticked" checklist-model="vlmap.entity.CustomerPreference" checklist-value="role" ng-click="vlmap.Test(role)">
                                        {{role.TypeCodeDesc}}
                                    </label>
                                    <div ng-if="role.TypeCodeId == 820" ng-show="vlmap.slaSubtypeShow" class="checkbox" ng-repeat="subRole in vlmap.CustomerSLAPrefernceSubTypeList">
                                        <label style="margin-left: 1em;">
                                            <input type="checkbox" ng-model="subRole.Ticked" checklist-model="vlmap.entity.CustomerPreference" checklist-value="subRole" ng-click="vlmap.Test(subRole)">
                                            {{subRole.TypeCodeDesc}}
                                        </label>
                                    </div>
                                    <div ng-if="role.TypeCodeId == 825" ng-show="vlmap.dtSubtypeShow">
                                        <label style="margin-left: 1em; margin-top: 0.5em;">
                                            Service
                                        </label>
                                        <select class="select-sm" style="margin-left: -3em; margin-top: 0.5em; margin-bottom: 5px;" ng-model="vlmap.entity.ServiceSelect" ng-options="obj.TypeCodeDesc for obj in vlmap.ServiceList" ng-change="vlmap.insertSelectedType(vlmap.entity.ServiceSelect)">
                                            <option value="">--Any--</option>
                                        </select>
                                    </div>
                                    <div ng-if="role.TypeCodeId == 825" ng-show="vlmap.dtSubtypeShow" class="form-group" ng-repeat="dtSubRole in vlmap.CustomerDTPreferenceSubTypeList">
                                        <span ng-if="dtSubRole.TypeCodeId == 829">
                                            <label style="margin-left: 1em;">
                                                {{dtSubRole.TypeCodeDesc}}
                                            </label>
                                            <input class="input" name="DTDeliveryUrl" type="text" ng-model="vlmap.entity.DTDeliveryUrl" style="margin-left: -3em; height: 2em; width: 100px;" ng-blur="vlmap.insertCodeType(dtSubRole, vlmap.entity.DTDeliveryUrl)" />
                                        </span>
                                        <span ng-if="dtSubRole.TypeCodeId == 830">
                                            <label style="margin-left: 1em;">
                                                {{dtSubRole.TypeCodeDesc}}
                                            </label>
                                            <input class="input" name="DTCredential" type="text" ng-model="vlmap.entity.DTCredentials" style="margin-left: -3em; height: 2em; width: 100px;" ng-blur="vlmap.insertCodeType(dtSubRole, vlmap.entity.DTCredentials)" />
                                        </span>
                                    </div>

                                    <div ng-if="role.TypeCodeId == 809" ng-show="role.Ticked && vlmap.IsCustomerCredentialEditAllowed" class="form-group">
                                        <span >
                                            <label style="margin-left: 1em;">
                                                User Id
                                            </label>
                                            <input class="input" name="UserId" type="text" ng-model="vlmap.entity.CustomerUserId" ng-disabled="true" style="margin-left: -3em; height: 2em; width: 100px;" />
                                        </span>
                                    </div>
                                    <div ng-if="role.TypeCodeId == 809" ng-show="role.Ticked && vlmap.IsCustomerCredentialEditAllowed" class="form-group">                                       
                                        <span>
                                            <label style="margin-left: 1em;">
                                                Password
                                            </label>
                                            <a ng-class="vlmap.entity.GenerateCredential ? 'btn btn-primary' : 'btn btn-danger'" ng-disabled="vlmap.entity.GenerateCredential" name="UserPwd" ng-click="vlmap.GeratePassword(subRole)" style="line-height: .4; margin-left: -3em; height: 2em; width: 60px;">
                                                ***** <br/><span class="glyphicon glyphicon-repeat"></span>
                                            </a>
                                        </span>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div> 
             </div>      
            </form>
        
        
    </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="!hasAccess || customerEditForm.CustomerName.$invalid || customerEditForm.Application.$invalid || customerEditForm.CAPIClientID.$invalid || (MultiSelectform.ServicePreference.$invalid && ServicePreferenceShow)" ng-click="customerEditForm.CustomerName.$valid && vlmap.save()">Save</button>
            <button class="btn btn-danger" ng-disabled="!hasSuperAccess" ng-click="vlmap.remove()">Delete</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>

