<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="IsBasic" value="0" />
    <add key="CommandTimeOut" value="1200" />
    <!-- DO NOT INCLUDE THIS FOR PRODUCTON - Below ONLY used for dev environment to access FAST-->
    <!--<add key="FASTAccessUser" value="" />-->
    <!-- Non PRODUCTON Account-->
    <!--<add key="FASTAccessUser" value="CORP/fahq-sa-ORENonProd;gUsT4pey3" />-->
    <!--<add key="FASTAccessUser" value="CORP/fahq-sa-OREProd;r6Wr4BrA" />-->
    <!--<add key="FASTAccessUser" value="CORP/fahq-sa-OREAppDev;C5HEkewe" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FASTVendorID" value="1208" />
    <add key="log4net-config-file" value="LOG4NET_PATH" />
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpWSSecurityVS"  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
           allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
           maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646"
           textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
           messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483646"
          maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="##ENDPOINTFASTADMINSVC##" binding="basicHttpBinding" bindingConfiguration="basicHttpWSSecurityVS" contract="FastAdminService.IFastAdminService" name="MainAdminServiceAccess">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
  <connectionStrings>
    <add name="TerminalEntities" connectionString="TERMINALENTITIES_CONNECTIONSTRING" providerName="System.Data.EntityClient" />
    <add name="TerminalEncryptEntities" connectionString="TERMINALENCRYPTENTITIES_CONNECTIONSTRING" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>