<div antiforgerytoken></div><div>

    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New FAST Office Map</h3>
    </div>
    <div class="widget-content">
        <form name="fastofficeAddForm" class="serviceForm" novalidate>
            <div growl inline="true" limit-messages="1"></div>
            <div>
                <label ng-hide="true"> ID</label>
                <input class="select-lg" ng-model="voffice.entity.FASTOfficeMapId" ng-hide="true" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="select-lg" ng-maxlength="200" ng-model="voffice.entity.FASTOfficeMapDesc" />
            </div>
            <div class="well well-sm">
                <b>Conditions</b>
            </div>
            <div class="form-group" ng-show="tenantname == 'LVIS'">
                <label>Tenant</label>
                <input class="select-lg" disabled value="{{voffice.entity.Provider.Tenant}}" />
            </div>
            <div class="form-group required">
                <label>Provider ID</label>
                <select class="select-lg" required ng-model="voffice.entity.Provider" ng-options="obj as obj.ProviderName  for obj in voffice.ProviderList">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label>External ID</label>
                <input class="select-lg" ng-disabled="true" ng-model="voffice.entity.Provider.ExternalID" />
            </div>
            <div class="form-group">
                <label>Customer ID</label>
                <select class="select-lg" ng-model="voffice.entity.CustomerId" ng-options="obj.LvisCustomerID as obj.CustomerName  for obj in voffice.customerList | orderBy:'CustomerName'" ng-change="voffice.LoadLocationbyCustId(voffice.entity.CustomerId)">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group">
                <label>Location ID</label>
                <select class="select-lg" ng-model="voffice.entity.locationId" ng-options="obj.LocationId as obj.LocationName  for obj in voffice.LocationList | orderBy:'LocationName'" ng-change="voffice.LoadContact(voffice.entity.locationId)">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group">
                <label>Contact ID</label>
                <select class="select-lg" ng-model="voffice.entity.Contactid" ng-options="obj.ContactId as obj.LvisContactid for obj in voffice.ContactList | orderBy:'LvisContactid'">
                    <option value="">--Any--</option>
                </select>

                <!--<div class="select-lg" style="display:inline-block; padding:0px;width:298px; margin:0;overflow:auto;resize:vertical;" isteven-multi-select
             input-model="voffice.ContactList"
             output-model="voffice.entity.ContactList"
             button-label="LvisContactid"
             item-label="LvisContactid"
             tick-property="ticked"
             selection-mode="SINGLE" translation="voffice.localLang">
        </div>-->

            </div>
            <div class="form-group">
                <label>State</label>
                <select class="select-lg" ng-change="voffice.LoadCounty(voffice.State.StateFIPS)" ng-model="voffice.State" ng-options="obj as obj.PreferenceState for obj in voffice.StateFipsList | filter:$viewValue">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group">
                <label>County</label>
                <select class="select-lg" ng-init="voffice.county == obj[0]" ng-model="voffice.county" ng-options="obj as obj.county for obj in voffice.CountyFipsList| filter:$viewValue"></select>
            </div>
            <div>
                <button class="btn btn-sm btn-link" style="cursor:pointer" ng-disabled="voffice.State == '' || !voffice.State " ng-click="voffice.AddCondition()"><i class="fa fa-plus"></i> Add Selected State/County</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>County</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Condition in voffice.entity.LocationCondition">
                        <td>{{Condition.PreferenceState.PreferenceState}}</td>
                        <td>{{Condition.PreferenceCounty.county}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="voffice.Remove(Condition)">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="well well-sm">
                <b>Results</b>
            </div>
            <div class="form-group required">
                <label>Title Region ID</label>
                <select class="select-lg" ng-change="voffice.LoadTitleEscrowOffice(voffice.entity.RegionId)" required ng-model="voffice.entity.RegionId" ng-options="obj.Id as obj.Name for obj in voffice.RegionList">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group required">
                <label>Title Office ID</label>
                <select class="select-lg" required ng-model="voffice.TitleOfficeId" ng-change="voffice.LoadTitleOfficersList(voffice.TitleOfficeId.id)" ng-options="obj as obj.Name for obj in voffice.TitleEscrowOfficeList | filter:$viewValue ">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label>Title Officer</label>
                <select class="select-lg" ng-model="voffice.entity.TitleOfficerCode" ng-options="obj.ID as obj.Name for obj in voffice.TitleOfficerList | orderBy:'Name'">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group required">
                <label>Escrow Region ID</label>
                <select class="select-lg" required ng-model="voffice.entity.EscrowRegionId" ng-change="voffice.LoadEscrowOffice(voffice.entity.EscrowRegionId)" ng-options="obj.Id as obj.Name for obj in voffice.RegionList">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group required">
                <label>Escrow Office ID</label>
                <select class="select-lg" required ng-model="voffice.EscrowOfficeId" ng-change="voffice.LoadEscrowOfficersList(voffice.EscrowOfficeId.id)" ng-options="obj as obj.Name for obj in voffice.EscrowOfficeList | filter:$viewValue ">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label>Escrow Officer</label>
                <select class="select-lg" ng-model="voffice.entity.EscrowOfficerCode" ng-options="obj.ID as obj.Name for obj in voffice.EscrowOfficerList | orderBy:'Name'">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label>Escrow Assistant</label>
                <select class="select-lg" ng-model="voffice.entity.EscrowAssistantCode" ng-options="obj.ID as obj.Name for obj in voffice.EscrowAssistantList | orderBy:'Name'">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label>Authentication Token</label>
                <select ng-required="voffice.entity.ExternalApplicationID == 29 || voffice.entity.Provider.ExternalApplicationID == 29" class="select-lg" ng-model="voffice.entity.TokenTypeCodeId" ng-options="obj.TypeCodeId as obj.TypeCodeDesc for obj in voffice.TokenList | orderBy:'Name'">
                    <option value="">---Please select---</option>
                </select>
            </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="voffice.save()" ng-disabled="fastofficeAddForm.$invalid">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
