
<div ng-controller="psFastOfficeMappingsController as voffice" class="ps-dashboard-header">
    <ul class="breadcrumb">
        <li class="subbreadcrumb">
            <ps-sub-menu>
                <ps-sub-menu-item label="Customers" route="Customermappings"></ps-sub-menu-item>
                <ps-sub-menu-item label="Categories" route="Categorymappings"></ps-sub-menu-item>
                <ps-sub-menu-item label="Providers" route="providermappings"></ps-sub-menu-item>
                <ps-sub-menu-item ng-show="Tenant != 'Air Traffic Control'" label="Inbound Document Mapping" route="indocmappings"></ps-sub-menu-item>
                <ps-menu-group label="FAST">
                    <ps-sub-menu>
                        <ps-sub-menu-item label="File Preferences" route="fastfilepreferencemappings"></ps-sub-menu-item>
                        <ps-sub-menu-item ng-show="Tenant != 'Air Traffic Control'" label="Office Map" route="fastofficemappings/:"></ps-sub-menu-item>
                        <ps-sub-menu-item label="Process Triggers" route="FastWorkFlowMappings"></ps-sub-menu-item>
                        <ps-sub-menu-item label="Task Map" route="FastTaskMappings"></ps-sub-menu-item>
                        <ps-sub-menu-item label="FAST To LVIS Documents" route="FastToLVISDocMappings"></ps-sub-menu-item>
                        <ps-sub-menu-item label="LVIS To FAST Documents" route="LVISToFastDocMappings"></ps-sub-menu-item>
                    </ps-sub-menu>
                </ps-menu-group>
        </li>
    </ul>
    <div class="wrapper">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <ol class="breadcrumb breadcrumb-style" ng-show="Isvisible">
                <li><a href="#/providermappings">Providers</a></li>
                <!--<li>{{voffice.ExternalId.split(":")[1]}}</li>-->
                <li><a href="#/providermappings/{{voffice.providerExternalID}}">{{voffice.ExternalId.split(":")[0]}}</a></li>
            </ol>
            <ul class="ps-page-title">
                <li>FAST Office Map </li>
            </ul>
            <div growl inline="true"></div>
            <div class="form-group" style="margin-bottom:0px">
                <button class="btn btn-sm" style="cursor:pointer" ng-show="hasAccess" ng-click="addNewFASTOfficeMap()"><i class="fa fa-plus"></i> Add New FAST Office Map</button>
                <label>State</label>
                <select ng-change="voffice.LoadCounty(voffice.entity.StateFipsId)" ng-model="voffice.entity.StateFipsId" ng-options="obj.StateFIPS as obj.PreferenceState for obj in voffice.StateFipsList">
                    <option value="">ALL</option>
                </select>
                <label>County</label>
                <select ng-change="voffice.ResetRefreshBotton()" ng-init="voffice.entity.CountyFipsId = '0'" ng-model="voffice.entity.CountyFipsId" ng-options="obj.countyFIPS as obj.county for obj in voffice.CountyFipsList"></select>
                <label>
                    <input type="checkbox" ng-model="voffice.TitlePriority" ng-true-value="true" ng-false-value="false">
                    Search Title Offices
                </label>
                <div style="display:inline-block;margin-left:0.5em;cursor:pointer" ng-show="!voffice.Busy">
                    <i class="fa fa-search" ng-click="voffice.searchDetails()"></i>
                </div>
                <div style="display:inline-block; margin:0 auto;" ng-show="voffice.Busy">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <!--<div style="display:inline-block; cursor:pointer">-->
                    <button class="btn btn-sm right" style="margin:0 20px;cursor:pointer" ng-disabled="disabled" ng-click="voffice.RefreshSearch()"><i class="fa fa-refresh"></i> Reset</button>
                <!--</div>-->

                <div>
                    <div id="serviceFastOfficeGrid" ui-grid="voffice.serviceFastOfficeGrid"
                         ui-grid-grouping
                         ui-grid-move-columns
                         ui-grid-selection
                         ui-grid-exporter
                         ui-grid-resize-columns
                         ui-grid-pinning
                         ui-grid-auto-resize
                         ui-grid-edit
                         ui-grid-cellnav
                         ui-grid-custom-cell-select
                         ui-grid-pagination class="ui-grid-selectable"></div>
                </div>
            </div>
        

    </div><div class="col-lg-1"> </div>
       
</div>
    </div>  
