<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New FAST Process Trigger</h3>
    </div>
    <div class="widget-content">
        <form name="fastworkflowAddForm" class="serviceForm">
            <div growl inline="true" limit-messages="1"></div>
            <div class="well well-sm">
                <b>Conditions</b>
            </div> 
            <div>
                <label ng-hide="true"> ID</label>
                <input class="select-lg" ng-model="vfwflow.entity.ID" ng-hide="true" />
            </div>
            <div class="form-group" ng-show="vfwflow.entity.Tenant == 'LVIS'">
                <label>Tenant</label>
                <input class="select-lg" disabled value="{{vfwflow.entity.Tenant}}" />
            </div>
            <div class="form-group">
                <label>Service</label>
                <select class="select-lg" ng-model="vfwflow.entity.serviceId" ng-options="obj.ID  as obj.Name  for obj in  vfwflow.ServiceTypeList | orderBy:'Name'">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group required">
                <label>Message Type</label>
                <select class="select-lg" required ng-model="vfwflow.entity.MessageTypeId" ng-options="obj.MessageTypeId  as obj.MessageTypeName  for obj in  vfwflow.MessageTypeList">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="well well-sm">
                <b>Results</b>
            </div>
            <div class="form-group required">
                <label>Process Event Id</label>
                <select class="select-lg" required ng-model="vfwflow.entity.ProcessEventId" ng-options="obj.Id  as obj.Description  for obj in vfwflow.ProcesseventIdList">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group required">
                <label>Task Event Id</label>
                <select class="select-lg" required ng-model="vfwflow.entity.Taskeventid" ng-options="obj.Id  as obj.Description  for obj in vfwflow.TaskeventIdList">
                    <option value="">---Please select---</option>
                </select>
            </div>    
            <div class="form-group">
                <label>Description</label>
                <input class="select-lg" ng-maxlength="200" ng-model="vfwflow.entity.FASTOWorkFlowMapDesc" />              
            </div>

            <div class="form-group">
                <label>Customer</label>
                <select class="select-lg" ng-model="vfwflow.entity.Customerid" ng-options="obj.LvisCustomerID  as obj.CustomerName  for obj in vfwflow.CustomerList | orderBy:'CustomerName'">
                    <option value="">--Any--</option>
                </select>
            </div>
        </form>
        <br />
        <div class="modal-footer">
          
            <button class="btn btn-success" ng-click="vfwflow.save()" ng-disabled="fastworkflowAddForm.$invalid" >Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
