
<div class="ps-title-bar">
    <div class="row" style="margin-right:0px">
        <div class="ps-logo-area col-sm-6" title="{{ servername }}">
            <img class="ps-icon" ng-src="{{ iconFile }}" />
            <div class="ps-title-area">
                <p class="ps-logo-title">Tower</p>    
                <label class="ps-version-title">{{ assemblyversion }}</label>
            </div>
           
            <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" 
                 class="ps-collapsed-menu pull-right">
                <button type="button" class="btn ps-nav-button">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

        </div> 
        <div class="ps-logo-area col-sm-6">
            <p class="ps-user-title">{{ currentuser }} ({{ tenantname }})</p>
        </div>
        </div>
</div>

<div class="ps-menu-area"
     ng-show="isMenuVisible"
     ng-class="{'ps-menu-area-horizontal': true}">    
    <ng-transclude></ng-transclude>
</div>

<div ng-view class="ps-view"
     ng-class="{'ps-view-full-width': true}">    
</div>
<fastinfo></fastinfo>
<appversioninfo></appversioninfo>
<appsecuritychecker></appsecuritychecker>


