
.ps-title-bar {
    padding: 0px 0;
	background: #013a6f !important;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
    /*margin:-20px;*/
}

.ps-logo-area {
    /*text-align: center;*/
}

.ps-title-area {
    display: inline-block; 
}

.ps-icon {
    display: inline-block;
    margin: 8px;
    vertical-align: top;
    /*border: 1px solid #999;*/
}

.ps-logo-title {
    color: #fff;
    /*float: left;*/
    padding: 10px 8px 5px;
    /*margin-left: -20px;*/
    font-size: 20px;
    display: inline-block;
}

.ps-user-title {
    color: #fff;
    padding: 0px 3px;
    font-size: 15px;
    display: inline-block;
    float:right;
    margin-top:15px;
    margin-bottom: 5px
}

.ps-version-title {
    color: #fff;
    font-size:11px;
    margin-top:14px;
    display: inline-block;
}


@media screen and (max-width: 430px) {
    .ps-icon {
        display: none;
    }
    .ps-logo-title {
        font-size: 18px;
    }
}

.ps-right-side-controls {
    line-height: 60px;
}

.ps-right-side-controls > div {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .ps-right-side-controls > div {
        text-align: right;       
    }
    .ps-logo-area {
        text-align: left;
    }
}

.ps-collapsed-menu {
    display: inline-block;
    height: 100%;
}

.ps-nav-button {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 0;
    font-size: 26px;
    color: #777;
}

.ps-view {
    margin-left: 200px;
    padding: 20px;
    /*min-height: 80vh;*/
    /*overflow: auto;*/
    /*width: 100%;*/

}

.ps-view-full-width {
    margin-left: 0;
    margin-right: 0;
}

.ps-page-title {
    padding:0 0 8px 0px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
    font-size: 18px;
}


.grid-header {	
	position: relative;	
	background: #fff;
	background:-moz-linear-gradient(top, #fff 0%, #d9edf7 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#d9edf7)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #fff 0%,#d9edf7 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #fff 0%,#d9edf7 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #fff 0%,#d9edf7 100%); /* IE10+ */
	background:linear-gradient(top, #fff 0%,#d9edf7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#d9edf7');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#d9edf7')";
	-webkit-background-clip: padding-box;
}

@media screen and (min-width: 968px) {
    .modal-dialog {
        height:80%;
        width:70%;
    }
    .modal-sm {
        width: 350px; /* New width for small modal */
    }
}
@media screen and (min-width: 992px) {
    .modal-lg {
         width: inherit;
    }
}

.serviceForm label {
     text-align:left; 
     min-width:130px;
     padding: 4px 0;
     vertical-align: top;
}


.serviceForm .label-md {
  text-align:left; 
  min-width:150px;
}

.serviceForm .label-lg {
  text-align:left; 
  min-width:200px;
}

.serviceForm div {
    /*padding: 5px 0px;*/
}

.serviceForm input[type=text], .serviceForm select{
     text-align:left; 
     min-width:195px;
     padding: 1px 0;
     line-height: 1em;
}


.serviceForm input[type=password] {
    text-align: left;
    min-width: 195px;
    padding: 1px 0;
    line-height: 1em;
}

.serviceForm .input-md{
     text-align:left; 
     min-width:295px;
     padding: 1px 0;
     line-height: 1em;
}

.serviceForm textarea {
     text-align:left; 
     min-width:195px;
     max-width: 70%;   
}

.serviceForm .textarea-lg {
     text-align:left; 
     min-width:60%;
     max-width:100%;   
     min-height:200px;     
}

.serviceForm input[type=checkbox], .serviceForm input[type=radio]{
    float: right;
    margin-top: 2px;
}

.serviceForm input[type=button] {
     text-align:left; 
     /*min-width:195px;*/
     padding: 2px 0;
}

.serviceForm .select-md  {
    padding: 1px 0;
    line-height: 1em;
    text-align:left; 
    min-width:320px;
}

.serviceForm .select-lg  {
    padding: 1px 0;
    line-height: 1em;
    text-align:left; 
    min-width:430px;
}

.serviceForm ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
   
}

.serviceForm li  {
    /*line-height: 3em;*/
    cursor: pointer;
    clear: both;
	float: left;   
	display:block;
	min-width: 125px;
	padding: 10px;
	margin-top: 0px;   
	list-style: none;
}

.breadcrumb-style
{
    background: #E8E8E8;
    padding:0 0 8px 0px;
    margin-bottom: 20px;
    list-style: none;
    border-radius: 4px;
}


.form-group {
  margin-bottom: 5px;
}

.form-group select{
  width: 150px;
}


.form-group.required label:after {
  content:" *";
  color:red;  
}

.form-group .help-block {
    display:inline-block;
    margin:5px;
    color: darkred;
}

.form-group.required div label:after {
  content: "";
}

.modal.fade.in {overflow-x:hidden; overflow-y:auto;}

.panel-body {
    padding: 0px;
}

.panel {
    border: 0px;
}

.panel-heading {
    padding:0px;
}

.panel-group {
    border: 0px;
}

    .panel-group .panel {
        border: 0px;
        margin-bottom: 20px;
    }

.panel-default {
    border: 0px;
}

.panel-collapse {
}

.panel-default>.panel-heading {
    border: 0px;
}

.panel-group .panel-heading {
    border: 0px;
}

    .panel-group .panel-heading + .panel-collapse>.list-group, .panel-group .panel-heading + .panel-collapse>.panel-body {
        border: 0px;
    }

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}




