<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpWSSecurityFS" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport" />
        </binding>
        <binding name="basicHttpWSSecurityAS" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport" />
        </binding>
        <binding name="basicHttpWSSecurityES" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483646" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>        
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsWindowsAuth_FastUtilityService" messageEncoding="Mtom">
          <security>
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://snavnintfeva201.fastts.firstam.net/servicehosts/file/fastfileservice.svc/basicWindowsAuth" binding="basicHttpBinding" bindingConfiguration="basicHttpWSSecurityFS" contract="FastFile.IFastFileService" name="basicHttpWSSecurityFS">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
      <endpoint address="http://snavnintfeva201.fastts.firstam.net/servicehosts/admin/fastadminservice.svc/basicWindowsAuth" binding="basicHttpBinding" bindingConfiguration="basicHttpWSSecurityAS" contract="FastAdmin.IFastAdminService" name="basicHttpWSSecurityAS">
        <identity>
          <servicePrincipalName value="" />
        </identity>
      </endpoint>
    
      <endpoint address="http://snavnintfeva301.fastts.firstam.net/ServiceHosts/Utility/FastUtilityService.svc/wsWindowsAuth" binding="wsHttpBinding" bindingConfiguration="wsWindowsAuth_FastUtilityService" contract="FastUtil.IFastUtilityService" name="wsWindowsAuth_FastUtilityService">
        <identity>
          <userPrincipalName value="EVAL-FAST-SA@FASTTS.FIRSTAM.NET" />
        </identity>
      </endpoint>      
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
