<div antiforgerytoken></div><div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Edit FAST Task Map</h3>
    </div>
    <div class="widget-content">
        <form name="fastTaskEditForm" class="serviceForm">
            <div growl inline="true" limit-messages="1"></div>
            <div class="well well-sm">
                <b>Conditions</b>
            </div>
            <div>
                <label ng-hide="true">ID</label>
                <input class="select-lg" ng-model="vftask.entity.ID" ng-hide="true" />
            </div>
            <div class="form-group" ng-show="tenantname == 'LVIS'">
                <label class="label-lg">Tenant</label>
                <input class="select-lg" disabled value="{{vftask.entity.Tenant}}" />
            </div>
            <div class="form-group required">
                <label class="label-lg">Task Description</label>
                <input class="select-lg" ng-maxlength="100" required ng-model="vftask.entity.FastTaskMapDesc" />
            </div>
            <div class="form-group required">
                <label class="label-lg">Task Status</label>
                <select class="select-lg" required ng-model="vftask.entity.TypecodeId" ng-options="obj.TypeCodeId  as obj.TypeCodeDesc  for obj in vftask.TypecodeList | orderBy:'TypeCodeDesc'">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-lg">Region ID</label>
                <select class="select-lg" ng-model="vftask.entity.RegionId" ng-options="obj.Id  as obj.Name  for obj in vftask.RegionList">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-lg">External Application</label>
                <select class="select-lg" ng-model="vftask.entity.applicationId" ng-options="obj.ID as obj.Name for obj in vftask.ApplicationList | orderBy:'Name'">
                    <option value="">--Any--</option>
                </select>
            </div>

            <div class="form-group">
                <label class="label-lg">Customer ID</label>
                <select class="select-lg" ng-model="vftask.entity.CustomerId" ng-options="obj.LvisCustomerID as obj.CustomerName  for obj in vftask.CustomerList | orderBy:'CustomerName'" ng-change="voffice.LoadLocationbyCustId(voffice.entity.CustomerId)">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group">
                <label style="text-align:left; width:215px">
                    Has Reason Code
                    <input type="checkbox" ng-model="vftask.entity.HasReasonCode" ng-true-value="true" ng-false-value="false">
                </label>
            </div>
            <div class="well well-sm">
                <b>Results</b>
            </div>
            <div class="form-group required">
                <label class="label-lg">Message Type</label>
                <select class="select-lg" required ng-model="vftask.entity.MessageTypeId" ng-options="obj.MessageTypeId as obj.MessageTypeName  for obj in vftask.MessageTypeList">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group required">
                <label class="label-lg">Service</label>
                <select class="select-lg" required ng-model="vftask.entity.serviceId" ng-options="obj.ID  as obj.Name  for obj in vftask.ServiceList  | orderBy:'Name'">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <!--<div class="form-group">
        <label style="text-align:left; width:166px;">
            Is Inbound
            <input type="checkbox" id="IsInbound" ng-model="vftask.entity.IsInbound" ng-true-value="true" ng-false-value="false" />
        </label>
    </div>
    <div class="form-group">
        <label style="text-align:left; width:166px;">
            Contains Reason Code
            <input type="checkbox" id="IsContainsRegioncode" ng-model="vftask.entity.ContainsRegioncode" ng-true-value="true" ng-false-value="false" />
        </label>
    </div>-->
        </form>
        <br />
        <div class="modal-footer">        
            <button class="btn btn-success" ng-click="vftask.save()" ng-disabled="(!hasAccess ||fastTaskEditForm.$invalid)  || (!fastTaskEditForm.$dirty)">Save</button>
            <button class="btn btn-danger" ng-disabled="!hasSuperAccess" ng-click="vftask.remove()">Delete</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
