<div antiforgerytoken></div>
<div>
    <div class="widget-header" style="vertical-align:text-top;">
        <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <i class="fa fa-plus"></i>
        <h3>Add New LVIS To FAST Document</h3>
    </div>
    <div class="widget-content">
        <form name="LVISToFastAddForm" class="serviceForm">

            <div growl inline="true" limit-messages="1"></div>
            <input class="select-lg" ng-hide="true" required ng-model="vLVISdocmap.entity.inboundDocumentMapid" />
            <div class="well well-sm">
                <b>Conditions</b>
            </div> 
            <div class="form-group" ng-show="vLVISdocmap.entity.Tenant == 'LVIS'">
                <label class="label-lg">Tenant</label>
                <input class="select-lg" disabled value="{{vLVISdocmap.entity.Tenant}}" />
            </div>

            <div class="form-group required">
                <label class="label-lg">LVIS Document Type</label>
                <select class="select-lg" required ng-model="vLVISdocmap.entity.InternalDocumentType" ng-options="obj.ID as obj.Name for obj in vLVISdocmap.InternalDoctypeList">
                    <option value="">---Please select---</option>
                </select>
            </div>

            <div class="form-group">
                <label class="label-lg">LVIS Document Description</label>
                <input class="select-lg" ng-model="vLVISdocmap.entity.ExternalDocumentDescription">
            </div>
            <div class="form-group required">
                <label class="label-lg">Service</label>
                <select class="select-lg" required ng-model="vLVISdocmap.entity.Service" ng-options="obj.ID as obj.Name for obj in vLVISdocmap.ServiceList  | orderBy:'Name'">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="well well-sm">
                <b>Results</b>
            </div>
            <div class="form-group required">
                <label class="label-lg">FAST Document Type</label>
                <select class="select-lg" required ng-model="vLVISdocmap.entity.ExternalDocumentType" ng-options="obj.ID as obj.Name for obj in vLVISdocmap.ExternalDoctypeList">
                    <option value="">---Please select---</option>
                </select>
            </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="LVISToFastAddForm.$invalid" ng-click="vLVISdocmap.save()">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
