<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New Subscription</h3>
    </div>
    <div class="widget-content">
        <form name="SubscriptionAddForm" class="serviceForm" novalidate>
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group">
                <div>                  
                    <input class="input" type="text" ng-hide="true" required ng-model="vsubscr.entity.SubscriptionId" />
                </div>   
                <div class="form-group" ng-show="vsubscr.entity.Tenant != 'LVIS'">
                    <label class="label-md">Tenant</label>
                    <!--<select class="select-md" ng-model="vsubscr.entity.TenantId" ng-options="obj.TenantId as obj.TenantName for obj in vsubscr.TenantList | filter:{TenantName:'!LVIS'}">
                        <option value="">--Select--</option>
                    </select>-->
                    <input style="width:320px" class="select-md" ng-disabled="true" type="text" required ng-model="vsubscr.entity.Tenant" />
                </div>          
                <div class="form-group">
                    <label class="label-md">Application</label>
                    <select class="select-md" ng-change="vsubscr.LoadApplicationMEssageType(vsubscr.entity.Applicationid)" ng-model="vsubscr.entity.Applicationid" ng-options="option.ApplicationId as option.ApplicationName  for option in vsubscr.ExternalApplicationList | orderBy:'ApplicationName' track by option.ApplicationId">
                        <option value="">--Select--</option>
                    </select>
                </div>                    
                <div class="form-group">
                    <label class="label-md">MessageType</label>
                    <select class="select-md" ng-change="vsubscr.LoadMEssageType(vsubscr.entity.MessageTypeId)" ng-model="vsubscr.entity.MessageTypeId" ng-options="obj.MessageTypeId as obj.MessageTypeName for obj in vsubscr.LoadMesageTypeList | filter:{TenantName:'!LVIS'}">
                        <option value="">--Select--</option>
                    </select>
                </div>           
                <!--<div class="form-group">
                    <div>
                        <label class="label-md">MessageType Name</label>
                        <input style="width:320px" class="select-md"  ng-disabled="true" type="text" ng-change="vsubscr.LoadMEssageType(vsubscr.entity.MessageTypeId)" required ng-model="vsubscr.entity.MessageTypeName" ng-options="obj.MessageTypeId as obj.MessageTypeId for obj in vsubscr.LoadMesageTypeList | filter:{TenantName:'!LVIS'}" />
                    </div>
                </div>-->  
                <div class="form-group">
                    <div>
                        <label class="label-md">Description</label>
                        <input style="width:320px" class="select-md" ng-disabled="true"  type="text"  required ng-model="vsubscr.entity.MessageTypeDesc" />
                    </div>
                </div>                                           
            </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="SubscriptionAddForm.$invalid" ng-click="vsubscr.save()">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>