<div antiforgerytoken></div>

<div class="ps-dashboard-header" ng-controller="psConfirmServiceRequestController as vmUtilitiesConfirm">
    <ul class="breadcrumb">
        <li class="subbreadcrumb">
            <ps-sub-menu>
                <ps-sub-menu-item label="Manage Service Request" route="manageservicerequest" ng-show="(tenantname === 'LVIS')">Manage Service Request</ps-sub-menu-item>
                <ps-sub-menu-item label="Confirm Service Request" activetab="Confirm Service Request" route="confirmservicerequest">Confirm Service Request</ps-sub-menu-item>
                <ps-sub-menu-item label="EndPoint Access" route="endpointaccess" ng-show="(false)">EndPoint Access</ps-sub-menu-item>
            </ps-sub-menu>
        </li>
    </ul>
    <div class="wrapper">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <ul class="ps-page-title">
                <li>Confirm Service Request </li>
            </ul>
            <div class="widget-content fa-align-center">
                <div growl inline="true" limit-messages="1"></div>
                <br/>
                <form name="UtilitiesConfirmForm" class="serviceForm">
                    <ng-form name="ServiceRequestConfirmform" >
                        <div class="form-group required" ng-class="{ 'has-error' : UtilitiesConfirmForm.servicerequestid.$invalid && !UtilitiesConfirmForm.servicerequestid.$touched }">
                            <label class="label-lg">Service Request Id</label>
                            <input class="input" type="text" autocomplete="off" name="servicerequestid" maxlength="10" ng-disabled="disableServiceReqId" ng-minlength="1" ng-pattern="/^[0-9]+$/" required ng-model="vmUtilitiesConfirm.ServiceRequestId" />
                            <div ng-if="UtilitiesConfirmForm.servicerequestid.$dirty" ng-min class="help-block with-errors" ng-messages="UtilitiesConfirmFormConfirm.servicerequestid.$error">
                                <p ng-message="required">Service Request Id cannot be empty.</p>
                                <p ng-message="pattern">Only numbers allowed</p>
                            </div>
                            <div style="display:inline-block;margin-left:0.5em;cursor:pointer" >
                                <i class="fa fa-search" formnovalidate ng-disabled="ServiceRequestConfirmform.$invalid" ng-click="!ServiceRequestConfirmform.$invalid && vmUtilitiesConfirm.Search()"></i>
                            </div>
                        </div>
                    </ng-form>
                    <div class="form-group"  >
                        <label class="label-lg">External Reference Number</label>
                        <input class="input"ng-disabled="true" type="text" ng-model="vmUtilitiesConfirm.ExternalRefNum" name="externalrefnum" />
                      </div>
                    <div class="form-group " >
                        <label class="label-lg">Internal Reference Number</label>
                        <input class="input" ng-disabled="true" type="text"  ng-model="vmUtilitiesConfirm.InternalRefNum" name="internalrefno" />
                    </div>
                    <div class="form-group ">
                        <label class="label-lg">Internal Reference Id</label>
                        <input class="input" ng-disabled="true" type="text" ng-model="vmUtilitiesConfirm.InternalRefId" name="internalrefid" />
                        
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Customer Reference Number</label>
                        <input class="input" ng-disabled="true" type="text" ng-model="vmUtilitiesConfirm.CustomerRefNum" name="customerrefnum" />
                     
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Status</label>
                        <input class="input" ng-disabled="true" type="text" ng-model="vmUtilitiesConfirm.Status.Name" name="Status" />
                   </div>
                </form>
                    <br />
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="vmUtilitiesConfirm.RefreshSearch()">Reset</button>
                        <button class="btn btn-success" ng-click="vmUtilitiesConfirm.Confirm()" ng-disabled="UtilitiesConfirmForm.$invalid || vmUtilitiesConfirm.ConfirmServicecheck">ConfirmService</button>
                    </div>
                </div>
            </div>
        <div class="col-lg-1"></div>
    </div>
</div>