<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Cleanup TEQ</h3>
    </div>
    <div class="widget-content">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="widget-content fa-align-center" ng-show="!vmException.loading">
                <div growl inline="true" limit-messages="1" ng-show="showMessage"></div>
                <br />
                <form name="UtilitiesForm" class="serviceForm" novalidate>
                    <div>
                        <label class="label-lg">ExceptionType</label>
                        <select ng-model="vmException.ExceptionType" ng-options="obj.ExceptionTypeName as obj.ExceptionTypeName for obj in vmException.ExceptionTypeList">
                            <option value="">--All--</option>
                        </select>
                    </div>
                    <div>
                        <label class="label-lg">MessageType</label>
                        <select ng-model="vmException.MessageType" ng-options="obj.MessageTypeId as obj.MessageTypeName for obj in vmException.MessageTypeList">
                            <option value="">--All--</option>
                        </select>
                    </div>
                    <div>
                        <label class="label-lg">Exception Description</label>
                        <input class="input" type="text" ng-model="vmException.ExceptionDescription" autocomplete="off" name="exceptionDescription" />
                    </div>
                    <div>
                        <label class="label-lg">Start Date: </label>
                        <input ng-model="vmException.FromDate" datetime-picker date-format="MM/dd/yyyy" date-only />
                    </div>
                    <div>
                        <label class="label-lg">End Date: </label>
                        <input ng-model="vmException.ToDate" datetime-picker date-format="MM/dd/yyyy" date-only />
                    </div>
                    <div>
                        <label class="label-lg">Status</label>
                        <select ng-model="vmException.Status" ng-options="obj.ID as obj.Name for obj in vmException.StatusList">
                            <option value="">--All--</option>
                        </select>
                    </div>
                    <span class="help-block with-errors" ng-show="vmException.ValidateErrorDate">
                        <label style="color:red">End date cannot be earlier than the Start date</label>
                    </span>
                    <div class="modal-footer">
                        <button class="btn btn-success" ng-disabled="UtilitiesForm.$invalid" ng-click="vmException.SearchFilter()">Search</button>
                        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
                    </div>
                </form>
            </div>
            <div style="margin:auto;width:auto;padding:50px;align-content:center" ng-show="vmException.loading">
                <i class="fa fa-spinner fa-spin fa-4x fa-fw margin-bottom"></i>
                Searching...
            </div>
        </div>
    </div>
</div>