
<div antiforgerytoken></div>
<div class="ps-dashboard-header" ng-controller="psExceptionController as vmException">
    <ul class="breadcrumb">
        <li class="subbreadcrumb">
            <ps-sub-menu>
                <ps-sub-menu-item label="Business Exception Queues" route="businessexception"></ps-sub-menu-item>
                <ps-sub-menu-item label="Technical Exception Queues" activetab="Technical Exception Queues" route="Exceptions"></ps-sub-menu-item>
                <ps-sub-menu-item label="Terminal Log Information" ng-show="vmException.showMenuloginfo" route="terminalloginformation"></ps-sub-menu-item>
                <ps-sub-menu-item label="FASTWeb Orders" ng-show="vmException.showMenuloginfofastweborders" route="fastweborders"></ps-sub-menu-item>
            </ps-sub-menu>
        </li>
    </ul>
    <div class="wrapper">
        <div class="col-lg-1"></div>
        <!--<div ng-show="vmException.Busy" style="position: fixed; top:0; bottom: 0%; width: 100%; height: 100%; background-color: transparent; z-index:99;">
            <div class="fa fa-spinner" style="top: 50%; left: 40%; position: absolute; font-size: 22px; font-weight: 600;"> Please Wait Loading...</div>
        </div>-->
        <div class="col-lg-12">
            <ul class="ps-page-title">
                <li>{{vmException.ExceptionType}} Technical Exception Queues</li>
            </ul>
            <div growl inline="true"></div>
            <div>
                <div class="form-group" style="display:inline-block">
                    <i onMouseOver="this.style.cursor='pointer'" ng-style="mydtStyle" class="fa fa-calendar" id="dt" title="Search By Date Range" ng-class="{'active': isActive}" ng-click="ShowHide('showdates')"></i>|<i onMouseOver="this.style.cursor='pointer'" ng-style="mynumStyle" class="fa fa-bars" title="Search By Reference Number" id="num" ng-class="{'active': isActive}" ng-click="ShowHide('showrefnum')"></i>
                </div>
                <div ng-show="vmException.showdates" class="form-group" style="display:inline-block">
                    <label> Start Date: </label>
                    <input ng-disabled="vmException.Disabledate" ng-model="vmException.Fromdate" datetime-picker date-format="MM/dd/yyyy" date-only />
                    <label> End Date: </label>
                    <input ng-disabled="vmException.Disabledate" ng-model="vmException.ThroughDate" datetime-picker date-format="MM/dd/yyyy" future-only date-only />
                    <label> Date Filter: </label>
                    <select ng-change="vmException.changeSelect(vmException.FilterSection)" ng-model="vmException.FilterSection" ng-options="obj.value as obj.title for obj in vmException.DateFilterSelection"></select>
                    <label>
                        <input type="checkbox" ng-model="vmException.IncludeResolve" ng-true-value="true" ng-false-value="false">
                        Include "Resolved"
                    </label>
                    <div style="display:inline-block;margin-left:0.5em;cursor:pointer" ng-show="!vmException.Busy">
                        <i class="fa fa-search" ng-click="vmException.search()"></i>
                    </div>
                    <div style="display:inline-block; margin:0 auto;" ng-show="vmException.Busy">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <span class="help-block with-errors" ng-show="vmException.ValidateError">
                        End date cannot be earlier than the Start date
                    </span>
                </div>
                <div ng-show="vmException.showrefnum" class="form-group" style="display:inline-block">
                    <label> Search By</label>
                    <select ng-change="vmException.changerefSelect(vmException.FilterReferenceNoSection)" ng-model="vmException.FilterReferenceNoSection" ng-options="obj.value as obj.title for obj in vmException.ReferencenoFilterSelection"></select>
                    <input class="input" ng-disabled="vmException.DisableReferenceNo" type="text" required ng-model="vmException.ReferenceNo" />
                    <div style="display:inline-block;margin-left:0.5em;cursor:pointer" ng-show="!vmException.BusyRef">
                        <i class="fa fa-search" ng-click="vmException.searchbyReferenceNo()"></i>
                    </div>
                    <div style="display:inline-block; margin:0 auto;" ng-show="vmException.BusyRef">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
                <br />
                <button class="btn btn-sm" style="cursor:pointer" ng-click="vmException.OpenPopUp()" ng-disabled="!vmException.EnableSearchFilter"><i class="fa fa-plus"></i>Search Filter</button>
                <div class="form-group" style="display:inline-block; float:right; margin:0 auto;cursor:pointer">
                    <button type="button" class="btn btn-sm" ng-disabled="vmException.countRows <= 0 || !hasResubmitAccess" ng-click="vmException.BulkResolve()">Update Status</button>
                </div>
                <div class="form-group" style="display:inline-block; float:right; margin:0 auto;cursor:pointer">
                    <button type="button" class="btn btn-sm" ng-disabled="vmException.countRows <= 0 || !hasResubmitAccess" ng-click="vmException.BulkResubmit()">Resubmit Selected</button>
                </div>
                <br />
            </div>
            <div id="serviceGrid" ui-grid="vmException.serviceGrid"
                 ui-grid-grouping
                 ui-grid-move-columns
                 ui-grid-auto-resize
                 ui-grid-selection
                 ui-grid-edit
                 ui-grid-pagination
                 ui-grid-exporter
                 ui-grid-resize-columns
                 ui-grid-pinning
                 ui-grid-cellnav
                 ui-grid-custom-cell-select
                 class="ui-grid-selectable">
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>

</div>
