
<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>Exception Details</h3>
</div>
<div class="widget-content">
    <div growl inline="true"></div>
    <uib-accordion close-others="true">
        <form name="ExceptionsForm" class="serviceForm">
            <div uib-accordion-group ng-init="open=true" is-disabled="false" is-open="open" ng-click="vmException.setFlag(open)">
                <uib-accordion-heading>
                    <div class="well well-sm"><b>Exception Information</b> <i class="pull-right fa" ng-class="{'fa-chevron-up': open, 'fa-chevron-down': !open}"></i></div>
                </uib-accordion-heading>
                <div class="form-group">
                    <label class="label-lg">Tenant</label>
                    <input class="input" type="text" disabled ng-model="vmException.entity.Tenant" />
                </div>
                <div class="form-group">
                    <label class="label-lg">Exception Type</label>
                    <input class="input" type="text" disabled ng-model="vmException.entity.ExceptionType" />
                </div>
                <div class="form-group">
                    <label class="label-lg">Description</label>
                    <textarea class="textarea-lg" disabled ng-model="vmException.entity.ExceptionDesc" />
                </div>
                <div class="form-group">
                    <label class="label-lg">External Reference Number</label>
                    <input class="input" type="text" disabled ng-model="vmException.entity.ExternalRefNum" />
                </div>
                <div class="form-group">
                    <label class="label-lg">Message Type</label>
                    <input class="input" type="text" disabled ng-model="vmException.entity.MessageType" />
                </div>
                <div class="form-group">
                    <label class="label-lg">Service Type</label>
                    <input class="input" type="text" disabled ng-model="vmException.entity.ServiceType" />
                </div>
                <div class="form-group">
                    <label class="label-lg">Created Date</label>
                    <input class="input" type="text" disabled ng-model="vmException.entity.CreatedDate" />
                </div>
                <div class="form-group">
                    <label class="label-lg">Created By</label>
                    <input class="input" type="text" disabled ng-model="vmException.entity.CreatedBy" />
                </div>
                <div class="form-group">
                    <label class="label-lg">Last Modified Date</label>
                    <input class="input" type="text" disabled ng-model="vmException.entity.LastModifiedDate" />
                </div>
                <div class="form-group">
                    <label class="label-lg">Last Modified By</label>
                    <input class="input" type="text" disabled ng-model="vmException.entity.LastModifiedBy" />
                </div>
                <div class="form-group">
                    <label class="label-lg">Status</label>
                    <select ng-model="vmException.entity.Status.ID" ng-options="obj.ID as obj.Name for obj in vmException.StatusList"></select>
                </div>
                <div class="form-group">
                    <label class="label-lg">Notes </label>
                    <div style="border:1px solid #DBDCE9;display:inline-block;width:100%;min-height:0px;max-height:120px;overflow-y:scroll" class="textarea-lg">
                        <textarea placeholder="Type Your Notes Here" name="comment" style="min-width:96%" id="comment-textarea" ng-model="vmException.entity.Notes"></textarea>
                        <i class="fa-align-justify fa fa-2x" style="padding:0 2px;margin:0px" ng-click="collapse = !collapse" ng-class="{'fa-angle-double-down': collapse, 'fa-angle-double-up': !collapse}" data-toggle="collapse" data-target="#notesTEQhistory"></i>
                        <div id="notesTEQhistory" class="form-group collapse in">
                            <div class="well well-sm" ng-init="collapse=true">
                                <b>History</b>
                            </div>
                    
                                <ul>
                                    <li style="padding:2px 3px;" ng-repeat="comnt in vmException.entity.Comments track  by $index">
                                        <label class="small">{{ comnt }}</label>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="open1" ng-click="vmException.setFlag1(open1)">
                <uib-accordion-heading>
                    <div class="well well-sm"><b>Message Information </b><i class="pull-right fa" ng-class="{'fa-chevron-up': open1, 'fa-chevron-down': !open1}"></i></div>
                </uib-accordion-heading>
                <div class="form-group">
                    <label class="label-lg">Message Content</label>
                    <textarea class="textarea-lg" style="min-width:99.8%" ng-change="vmException.Messagechanged=true" spellcheck="false" autogrow ng-trim="true" ng-model="vmException.entity.MessageContent"></textarea>
                </div>
            </div>


        </form>
    </uib-accordion>

    <br />
    <div class="modal-footer">

        <button class="btn btn-danger" ng-show="vmException.entity.MessageTypeid == 10020" ng-disabled="!hasResubmitAccess" ng-click="vmException.Reject()">REJECT</button>
        <button class="btn btn-danger" ng-show="vmException.Resubmit"  ng-disabled="!hasResubmitAccess && !vmException.Messageresubmit " ng-click="vmException.resubmit()">RESUBMIT</button>
        <button class="btn btn-success" ng-show = "vmException.enablesave"  ng-disabled="!hasResubmitAccess && !vmException.Messagesaved" ng-click="vmException.save()">Save</button>
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
    
</div>

