<div antiforgerytoken></div>
    <div class="widget-header">        
        <div ng-show="!vmException.loading">
            <i class="fa fa-2x fa-pencil-square-o"></i>
            <h3>Confirmation</h3>
        </div>
        <div ng-show="vmException.loading">
            <i class="fa fa-2x fa-pencil-square-o"></i>
            <h3>Proceed to resubmit selected item(s)?</h3>
        </div>
    </div>
    <div style="margin:auto;width:auto;padding:50px;" ng-show="vmException.loading" >        
        <i class="fa fa-spinner fa-spin fa-4x fa-fw margin-bottom"></i> 
        Processing... {{Currentvalue}}  Records.        
    </div>
    <div class="widget-content" ng-show="!vmException.loading">
        <div growl inline="true"></div>
        <form name="TEQRejectForm" class="serviceForm">            
            <div class="form-group" ng-show="vmException.Isdispaly">
                <label> Number of selected for Resubmit : {{vmException.entity.TotalResubmitCount}} </label><br />
                <label> Number of Successfull Resubmit : {{vmException.entity.SuccessResubmitCount}} </label><br />
                <label> Number of Non-Successfull Resubmit :  {{vmException.entity.UnSuccessResubmitCount}} </label>
            </div>
            <div class="form-group" ng-show="!vmException.Isdispaly">
                Proceed to resubmit selected item(s)?
            </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-primary" ng-hide="vmException.Isubmitted" ng-disabled="vmException.loading " ng-click="vmException.Submit()">Ok</button>            
            <button class="btn btn-primary" ng-click="$close()">Close</button>
        </div>
    </div>
