<div antiforgerytoken></div>
<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>REJECT</h3>
</div>
<div class="widget-content">
    <div growl inline="true"></div>
    <form name="TEQRejectForm" class="serviceForm">
        <div class="form-group">
            <label class="label-lg">Add Notes</label>
            <textarea class="textarea-lg" spellcheck="false" autogrow ng-trim="true" ng-model="vmException.RejectNotes"></textarea>
        </div>
        <label> Please confirm Reject Order request for {{vmException.entity.ExternalRefNum}} </label>
    </form>
    <br />
    <div class="modal-footer">
        <button class="btn btn-danger" ng-disabled="vmException.Isreject" ng-click="vmException.RejectOrder()">REJECT</button>
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
</div>

