<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New FAST File Preference</h3>
    </div>
    <div class="widget-content">
        <form name="fastfileAddForm" class="serviceForm" novalidate>
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group">
                <div class="form-group" ng-show="vffmap.entity.Tenant == 'LVIS'">
                    <label class="label-md">Tenant</label>
                    <input class="select-lg" disabled value="{{vffmap.entity.Tenant}}" />
                </div>
                <div class="form-group required">
                    <label class="label-md">Name</label>
                    <input class="select-lg" required ng-model="vffmap.entity.FASTPreferenceMapName" />
                </div>
                <div class="well well-sm">
                    <b>Conditions</b>
                </div>      
                <div class="form-group">
                    <label class="label-md">Loan Purpose</label>
                    <select class="select-lg" ng-model="vffmap.entity.LoanPurposeDet" ng-options="obj as obj.Name for obj in vffmap.LoanPurposeList | filter:$viewValue">
                        <option value="">--Any--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-md">Customer ID</label>
                    <select class="select-lg" ng-model="vffmap.entity.CustomerId" ng-options="obj.LvisCustomerID as obj.CustomerName  for obj in vffmap.customerList | orderBy:'CustomerName'" ng-change="vffmap.LoadLocationbyCustId(vffmap.entity.CustomerId)">
                        <option value="">--Any--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-md">Customer Location</label>
                    <select class="select-lg" ng-model="vffmap.entity.LocationDet" ng-options="obj as obj.LocationName for obj in vffmap.LocationList | orderBy:'LocationName' | filter:$viewValue">
                        <option value="">--Any--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-md">Product</label>
                    <div class="select-lg" style="display:inline-block; padding:0px;width:298px; margin:0;overflow:auto;resize:vertical;" isteven-multi-select
                         input-model="vffmap.ProductList"
                         output-model="vffmap.entity.ProductTypes"
                         button-label="ProductTypedesc"
                         item-label="ProductTypedesc"
                         tick-property="ticked"
                         selection-mode="" translation ="vffmap.localLang">
                    </div>
                </div> 
                <div class="form-group">
                    <label class="label-md">Loan Amount</label>
                    <input class="select-lg" ng-model="vffmap.entity.LoanAmount" />
                </div>
                <div class="form-group">
                    <label class="label-md">Region ID</label>
                    <select class="select-lg" ng-change="vffmap.LoadProgramType(vffmap.entity.RegionId)" ng-model="vffmap.entity.RegionId" ng-options="obj.Id as obj.Name for obj in vffmap.RegionList">
                        <option value="">--Any--</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label class="label-md">State</label>
                    <select class="select-lg" ng-change="vffmap.LoadCounty(vffmap.State.StateFIPS)" ng-model="vffmap.State" ng-options="obj as obj.PreferenceState for obj in vffmap.StateFipsList | filter:$viewValue">
                        <option value="">--Any--</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-md">County</label>
                    <select class="select-lg" ng-init="vffmap.county == obj[0]" ng-model="vffmap.county" ng-options="obj as obj.county for obj in vffmap.CountyFipsList| filter:$viewValue"></select>
                </div>
                <div>
                    <button class="btn btn-sm btn-link" style="cursor:pointer" ng-disabled="vffmap.State == '' || !vffmap.State " ng-click="vffmap.AddCondition()"><i class="fa fa-plus"></i> Add Selected State/County</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>State</th>
                            <th>County</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Condition in  vffmap.entity.Conditions">
                            <td>{{Condition.PreferenceState.PreferenceState}}</td>
                            <td>{{Condition.PreferenceCounty.county}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="vffmap.Remove(Condition)">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>  
                <div class="well well-sm">
                    <b>Results</b>
                </div>       
                <div>                  
                    <input class="input" type="text" ng-hide="true"  ng-model="vffmap.entity.FASTPreferenceMapID" />
                </div>                                     
                <div class="form-group required">
                    <label class="label-md">Program Type</label>
                    <select class="select-lg" required  ng-model="vffmap.entity.FASTProgramTypeId" ng-options="obj.ProgramTypeId as obj.ProgramTypeName for obj in vffmap.ProgramList">
                        <option value="">---Please select---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-md">Business Program Type</label>
                    <div class="select-lg" style="display:inline-block; padding:0px;width:298px; margin:0;overflow:auto;resize:vertical;" isteven-multi-select
                         input-model="vffmap.BusinessFASTProgramTypeList"
                         output-model="vffmap.entity.BusinessProgramTypes"
                         button-label="Name"
                         item-label="Name"
                         tick-property="Ticked"
                         selection-mode="">
                    </div>

                </div>
                <div class="form-group">
                    <label class="label-md">Product Type</label>
                    <div class="select-lg" style="display:inline-block;padding:0px;width:298px; margin:0;overflow:auto;resize:vertical;" isteven-multi-select
                         input-model="vffmap.FastProductList"
                         output-model="vffmap.entity.FastProductTypes"
                         button-label="ProductTypedesc"
                         item-label="ProductTypedesc"
                         tick-property="Ticked"
                         selection-mode="">
                    </div>
                </div>     
                 <div class="form-group">
                    <label class="label-md">Search Type</label>
                    <select class="select-lg" ng-model="vffmap.entity.FASTSearchTypeId" ng-options="obj.SearchTypeId as obj.SearchTypedesc for obj in vffmap.SearchList | orderBy:'SearchTypedesc'">
                        <option value="">---Please select---</option>
                    </select>
                </div>                                
            </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="fastfileAddForm.$invalid" ng-click="vffmap.save()">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>


