<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-file"></i>
        <h3> File Preference Validator</h3>
    </div>
    <div class="widget-content">
        <form name="fastfilevalidatorForm" class="serviceForm" novalidate>
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group">
                <div class="form-group required">
                    <label class="label-md">State</label>
                    <select class="select-lg" ng-change="vffmapValidator.LoadCounty(vffmapValidator.State.StateFIPS)" required ng-model="vffmapValidator.State" ng-options="obj as obj.PreferenceState for obj in vffmapValidator.StateFipsList | filter:$viewValue">
                        <option value="">---Please Select---</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label class="label-md">County</label>
                    <select class="select-lg" ng-init="vffmapValidator.county == obj[0]" ng-model="vffmapValidator.county" ng-options="obj as obj.county for obj in vffmapValidator.CountyFipsList| filter:$viewValue"></select>
                </div> 
                <div class="form-group ">
                    <label class="label-md" >Loan Amount</label>
                    <input  class="select-lg" style="width:195px" type="number"  ng-init="vffmapValidator.entity.LoanAmount = 0"  ng-model="vffmapValidator.entity.LoanAmount" />
                </div>
                <div class="form-group ">
                    <label class="label-md">Service</label>
                    <select class="select-lg" ng-init="vffmapValidator.entity.ServiceId=0"  ng-model="vffmapValidator.entity.ServiceId" ng-options="option.Name for option in vffmapValidator.ServiceList track by option.ID">
                        <option value="">---Any---</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label class="label-md">Product</label>
                    <select class="select-lg" required ng-init="vffmapValidator.entity.ProductId=0" ng-model="vffmapValidator.entity.ProductId" ng-options="option.ProductTypeId as option.ProductTypedesc for option in vffmapValidator.ProductList track by option.ProductTypeId">
                        <option value="">---Please Select---</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label class="label-md">Location</label>
                    <select class="select-lg" ng-init="vffmapValidator.entity.LocationId=0"  ng-model="vffmapValidator.entity.LocationId" ng-options="obj.LocationId as obj.ExternalId for obj in vffmapValidator.LocationList">
                        <option value="">---Any---</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label class="label-md">Region</label>
                    <select class="select-lg" required ng-model="vffmapValidator.entity.RegionId" ng-options="obj.Id as obj.Name for obj in vffmapValidator.RegionList">
                        <option value="">---Please Select---</option>
                    </select>
                </div>               
                <div class="form-group ">
                    <label class="label-md">Loan Purpose</label>
                    <select class="select-lg" ng-init="vffmapValidator.entity.LoanPurposeDet=0" ng-model="vffmapValidator.entity.LoanPurposeDet" ng-options="obj as obj.Name for obj in vffmapValidator.LoanPurposeList | filter:$viewValue">
                        <option value="">---Any---</option>
                    </select>
                </div>
                <div class="form-group required" >
                    <label class="label-md">Tenant</label>
                    <select  ng-disabled="IsVisibleTenantList" class="select-lg" required ng-model="vffmapValidator.entity.TenantId" ng-options="obj.TenantId as obj.TenantName for obj in vffmapValidator.TenantList | filter:$viewValue">
                        <option value="">---Any---</option>
                    </select>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Preference Map Name</th>
                            <th>Program Type</th>
                            <th>Business Program Type(s)</th>
                            <th>Product Type(s)</th>
                            <th>Search Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Map in vffmapValidator.FastFilePreferenceData track by $index">
                            <td>{{Map.FASTPreferenceMapName}}</td>
                            <td>{{Map.ProgramTypeName}}</td>
                            <td>{{Map.BuisnessProgramType}}</td>
                            <td>{{Map.ProductDesc}}</td>
                            <td>{{Map.SearchType}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>  
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="!hasAccess || fastfilevalidatorForm.$invalid" ng-click="vffmapValidator.Validate()">Validate</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>


