<div ng-controller="psFastFilePreferenceMappingsController as vffmap" class="ps-dashboard-header">
    <ul class="breadcrumb">
        <li class="subbreadcrumb">
            <ps-sub-menu>
                <ps-sub-menu-item label="Customers" route="Customermappings"></ps-sub-menu-item>
                <ps-sub-menu-item label="Categories" route="Categorymappings"></ps-sub-menu-item>
                <ps-sub-menu-item label="Providers" route="providermappings"></ps-sub-menu-item>
                <ps-sub-menu-item ng-show="Tenant != 'Air Traffic Control'" label="Inbound Document Mapping" route="indocmappings"></ps-sub-menu-item>
                <ps-menu-group label="FAST">
                    <ps-sub-menu>
                        <ps-sub-menu-item label="File Preferences" route="fastfilepreferencemappings"></ps-sub-menu-item>
                        <ps-sub-menu-item label="Office Map" route="fastofficemappings/:"></ps-sub-menu-item>
                        <ps-sub-menu-item label="Process Triggers" route="FastWorkFlowMappings"></ps-sub-menu-item>
                        <ps-sub-menu-item label="Task Map" route="FastTaskMappings"></ps-sub-menu-item>
                        <ps-sub-menu-item label="FAST To LVIS Documents" route="FastToLVISDocMappings"></ps-sub-menu-item>
                        <ps-sub-menu-item label="LVIS To FAST Documents" route="LVISToFastDocMappings"></ps-sub-menu-item>
                    </ps-sub-menu>
                </ps-menu-group>
            </ps-sub-menu>
</li>
    </ul>
    <div class="wrapper">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <ul class="ps-page-title">
                <li>FAST File Preferences</li>
            </ul>
            <div growl inline="true"></div>
            <div class="form-group">
                <button class="btn btn-sm" ng-show="hasAccess" ng-click="addRowSummary()"><i class="fa fa-plus"></i> Add New FAST File Preference</button>
                <label class="label-md">Region</label>
                <select class="select-lg" ng-change="vffmap.ResetRefreshBotton()" ng-model="vffmap.entity.RegionId" ng-options="obj.Id as obj.Name for obj in vffmap.RegionList">
                    <option value="">---Please select---</option>
                </select>
                <label class="label-md">State</label>
                <select ng-change="vffmap.LoadCounty(vffmap.entity.StateFipsId)" ng-model="vffmap.entity.StateFipsId" ng-options="obj.StateFIPS as obj.PreferenceState for obj in vffmap.StateFipsList">
                    <option value="">ALL</option>
                </select>
                <label class="label-md">County</label>
                <select ng-change="vffmap.ResetRefreshBotton()" ng-init="vffmap.entity.CountyFipsId = '0'" ng-model="vffmap.entity.CountyFipsId" ng-options="obj.countyFIPS as obj.county for obj in vffmap.CountyFipsList"></select>
                <label>Loan Amount >=</label>
                <input class="input" type="text" ng-change="vffmap.ResetRefreshBotton();" ng-init="vffmap.entity.LoanAmount = 0" ng-model="vffmap.entity.LoanAmount"/>

                <div style="display:inline-block;margin-left:0.5em;cursor:pointer" ng-show="!vffmap.Busy">
                    <i class="fa fa-search" ng-click="vffmap.search()"></i>
                </div>
                <div style="display:inline-block; margin:0 auto;" ng-show="vffmap.Busy">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div style="display:inline-block; margin:0 0 auto 50px;cursor:pointer">
                    <button class="btn btn-sm right" ng-disabled="disabled" ng-click="vffmap.RefreshSearch()"><i class="fa fa-refresh"></i> Reset</button>
                </div>
                <div style="display:inline-block;float:right; margin:0 auto;cursor:pointer">
                    <button class="btn btn-sm" ng-show="hasValidatorAccess" ng-click="vffmap.Validator()">Validator</button>
                </div>
                <div class="ui-grid-selectable" id="serviceFastFileGrid" ui-grid="vffmap.serviceFastFileGrid"
                     ui-grid-grouping
                     ui-grid-move-columns
                     ui-grid-selection
                     ui-grid-exporter
                     ui-grid-resize-columns
                     ui-grid-pinning
                     ui-grid-auto-resize
                     ui-grid-edit
                     ui-grid-cellnav
                     ui-grid-custom-cell-select
                     ui-grid-pagination></div>
            </div>
        </div>
        <div class="col-lg-1"> </div>
    </div>
