<div >
    <div id="modalId" class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Order Activity</h3>
    </div>
    <div style="margin:auto;width:10%;padding:50px;" ng-show="vmTest.loading">
        <i class="fa fa-spinner fa-spin fa-4x fa-fw margin-bottom"></i>
        Loading...
    </div>

    <div class="widget-content" ng-show="!vmTest.loading">
        <div class="well well-sm">
            <b>Order Information</b>
        </div>
        <div class="row" ng-repeat-end="" ng-show="active==user.CustomerName" ng-class-odd="'alt'">
            <div class="col-md-5">
                <label>Service Request Id: </label> {{vmTest.MessageDetails.ReportDetails.ServiceRequestId}}<br>
                <label>Order Date: </label> {{vmTest.MessageDetails.ReportDetails.createddate | date:'MM/dd/yyyy'}}<br>
                <label>Service Type: </label> {{vmTest.MessageDetails.ReportDetails.service}}<br>
                <label>Application: </label> {{vmTest.MessageDetails.ReportDetails.ApplicationId}}
            </div>
            <div class="col-md-4">
                <label>Customer Id: </label> {{vmTest.MessageDetails.ReportDetails.CustomerId}} <br>
                <label>External Reference Number: </label> {{vmTest.MessageDetails.ReportDetails.ExternalRefNum}} <br>
                <label>Customer Reference Number: </label> {{vmTest.MessageDetails.ReportDetails.CustomerRefNum}} <br>
            </div>
            <div class="col-md-3">
                <label>Internal Reference Number: </label> {{vmTest.MessageDetails.ReportDetails.InternalRefNum}}<br>
                <label>Internal Reference Id: </label> {{vmTest.MessageDetails.ReportDetails.InternalRefId}}<br>
            </div>
        </div>
        <br />
        <div class="well well-sm">
            <b>Message Flow</b>
            <button type="button" style="float: right; border:0;color:black;background-color:none" title="Refresh" ng-click="vmTest.Refresh()">
                <i  class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="row">
            <div class="col-lg-5 text-center text-info">
                <h5>Incoming to LVIS</h5>
            </div>
            <div class="col-lg-2 text-center text-info">
                <h5>LVIS</h5>
            </div>
            <div class="col-lg-5 text-center text-info">
                <h5>Outgoing from LVIS</h5>
            </div>
        </div>
        <ul class="timeline" ng-repeat="MessageLogs in vmTest.MessageDetails.MessageLogDetails|filter: vmTest.searchdet ">
            <li ng-show={{MessageLogs.IsIncoming}}>
                <div ng-if="MessageLogs.ExceptionDescription" class="timeline-badge danger"><i ng-click="vmTest.setExceptionContent(MessageLogs.ExceptionDescription)" class="glyphicon glyphicon-arrow-right" data-toggle="modal" data-target="#myException" title="Incoming To LVIS"></i></div>
                <div ng-if="!MessageLogs.ExceptionDescription" class="timeline-badge success"><i class="glyphicon glyphicon-arrow-right" data-toggle="tooltip" title="Incoming To LVIS"></i></div>
                <div class="timeline-panel" ng-init="showMessages=false">
                    <div class="timeline-heading">
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{MessageLogs.MessageLogId}},{{MessageLogs.CreatedDateTime}}</small></p>
                    </div>
                    <div class="timeline-body">
                        <div>
                            <label>
                                <a href="" ng-click="showMessages=!showMessages">
                                    Incoming from {{MessageLogs.ExternalApplication}}, Message type: {{MessageLogs.Description}}
                                </a>
                                <a href="" ng-show="MessageLogs.hasChild && !showMessages" ng-click="showMessages=!showMessages">+ More</a>
                                <a href="" ng-show="showMessages" ng-click="showMessages=!showMessages">- Less</a>
                            </label>
                        </div>
                        <p class="text-right">
                            <a href="" ng-click="vmTest.setContent(MessageLogs.Documentobjectid,'Received Message')" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-paperclip" data-toggle="tooltip" title="Attachment(s)"></span>
                            </a>
                        </p>
                        <div ng-show="showMessages">
                            <div ng-repeat="ChildLogs in vmTest.MessageDetails.MessageLogDetails|filter: { ParentMessageLogId:MessageLogs.MessageLogId }">
                                <label>{{ChildLogs.ExternalApplication}}, Message type: {{ChildLogs.Description}}</label>
                                <p class="text-right">
                                    <a href="" ng-click="vmTest.setContent(ChildLogs.Documentobjectid,'Received Message')" data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon-paperclip" data-toggle="tooltip" title="Attachment(s)"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted" ng-show=!{{MessageLogs.IsIncoming}}>
                <div ng-if="MessageLogs.ExceptionDescription" class="timeline-badge danger"><i ng-click="vmTest.setExceptionContent(MessageLogs.ExceptionDescription)" class="glyphicon glyphicon-arrow-left" data-toggle="modal" data-target="#myException" title="Incoming To LVIS"></i></div>
                <div ng-if="!MessageLogs.ExceptionDescription" class="timeline-badge success"><i class="glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="Outgoing From LVIS"></i></div>
                <div class="timeline-panel" ng-init="showMessages=false">
                    <div class="timeline-heading">
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{MessageLogs.MessageLogId}}, {{MessageLogs.CreatedDateTime}}</small></p>
                    </div>
                    <div class="timeline-body">
                        <div>
                            <label>
                                <a href="" ng-click="showMessages=!showMessages">Outgoing message to {{MessageLogs.ExternalApplication}}, Message type: {{MessageLogs.Description}}</a>
                                <a href="" ng-show="MessageLogs.hasChild && !showMessages" ng-click="showMessages=!showMessages">+ More</a>
                                <a href="" ng-show="showMessages" ng-click="showMessages=!showMessages">- Less</a>
                            </label>
                        </div>
                        <p class="text-right">
                            <a href="" ng-click="vmTest.setContent(MessageLogs.Documentobjectid,'Sent Message')" data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-paperclip" data-toggle="tooltip" title="Attachment(s)"></span>
                            </a>
                        </p>
                        <div ng-show="showMessages">
                            <div ng-repeat="ChildLogs in vmTest.MessageDetails.MessageLogDetails|filter: { ParentMessageLogId:MessageLogs.MessageLogId }">
                                <label>{{ChildLogs.ExternalApplication}}, Message type: {{ChildLogs.Description}}</label>
                                <p class="text-right">
                                    <a href="" ng-click="vmTest.setContent(ChildLogs.Documentobjectid,'Sent Message')" data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon-paperclip" data-toggle="tooltip" title="Attachment(s)"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!--<button class="scroll-modal-top" ng-click="vmTest.scrollTo('modalId')">Back To Top</button>-->
        <!--<button type="button" class="btn btn-default btn-sm" ng-show="ishideupbutton" ng-click="vmTest.scrollTo('modalId')">
            <span class="glyphicon glyphicon-arrow-up"></span> Up
        </button>-->
        <a onMouseOver="this.style.cursor='pointer'"  style="float:right" id="atop"  ng-click="vmTest.scrollTo('modalId');$event.stopPropagation();">Back To Top</a><br />
    </div>
</div>



