<div antiforgerytoken></div>
<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>{{vmTest.HeaderValue}}</h3>
</div>
<div class="widget-content">

    <div growl inline="true"></div>

    <form name="mESSAGEfORM" class="serviceForm">
        <div class="form-group">
            <textarea style="min-width:99.8%; min-height: 480px; text-wrap:none;font-family:'Courier New'" readonly class="textarea-lg" spellcheck="false" autogrow ng-model="vmTest.Content"></textarea>
        </div>
    </form>
    <br />
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">Close</button>
    </div>
</div>

