<div antiforgerytoken></div>

<div class="ps-dashboard-header" ng-controller="psManageExternalRefNumberController as vmUtilitiesExt">
    <ul class="breadcrumb">
        <li class="subbreadcrumb">
            <ps-sub-menu>
                <!--<ps-sub-menu-item label="Manage External Reference Number" activetab="Manage External Reference Number" route="manageexternalrefnumber">Manage External Reference Number</ps-sub-menu-item>-->
                <ps-sub-menu-item label="Manage Service Request" activetab="Manage External Reference Number" route="manageservicerequest">Manage Service Request</ps-sub-menu-item>
                <ps-sub-menu-item label="Confirm Service Request" route="confirmservicerequest">Confirm Service Request</ps-sub-menu-item>
                <ps-sub-menu-item label="EndPoint Access" route="endpointaccess">EndPoint Access</ps-sub-menu-item>
            </ps-sub-menu>
        </li>
    </ul>
    <div class="wrapper">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <ul class="ps-page-title">
                <li>Manage External Reference Number </li>
            </ul>
            <div class="widget-content fa-align-center">
                <div growl inline="true" limit-messages="1" ng-show="showMessage"></div>
                <br/>
                <form name="UtilitiesForm" class="serviceForm">
                    <ng-form name="ServiceRequestform">
                        <div class="form-group required" ng-class="{ 'has-error' : UtilitiesForm.servicerequestid.$invalid && !UtilitiesForm.servicerequestid.$touched }">
                            <label class="label-lg" style="margin-right:34px">Service Request Id</label>
                            <input class="input" type="text" name="servicerequestid" autocomplete="off" maxlength="10" ng-disabled="disableServiceReqId" ng-minlength="1" ng-pattern="/^[0-9]+$/" required ng-model="vmUtilitiesExt.ServiceRequestId"/>
                            <div ng-if="UtilitiesForm.servicerequestid.$dirty" ng-min class="help-block with-errors" ng-messages="UtilitiesForm.servicerequestid.$error">
                                <p ng-message="required">Service Request Id cannot be empty.</p>
                                <p ng-message="pattern">Only numbers allowed</p>
                            </div>
                            <div style="display:inline-block;margin-left:0.5em;cursor:pointer">
                                <i class="fa fa-search" formnovalidate ng-disabled="ServiceRequestform.$invalid" ng-click="!ServiceRequestform.$invalid && vmUtilitiesExt.Search()"></i>
                            </div>
                        </div>
                    </ng-form>
                    <div class="form-group">
                        <label class="label-lg" style="margin-right:34px">External Reference Number</label>
                        <input class="input" type="text" disabled required ng-model="vmUtilitiesExt.ExternalRefNum" />
                    </div>
                    <div class="form-group">
                        <label class="label-lg" style="margin-right:34px">Internal Reference Number</label>
                        <input class="input" type="text" disabled required ng-model="vmUtilitiesExt.InternalRefNum" />
                    </div>
                    <div class="form-group required" ng-class="{ 'has-error' : UtilitiesForm.newexternalrefnum.$invalid && !UtilitiesForm.newexternalrefnum.$pristine }" >
                        <label class="label-lg">Update External Reference Number</label>
                        <input class="input" type="text" required ng-minlength="1" maxlength="50" ng-model="vmUtilitiesExt.NewExternalRefNum" name="newexternalrefnum" />
                        <div ng-if="UtilitiesForm.newexternalrefnum.$dirty" ng-min class="help-block with-errors" ng-messages="UtilitiesForm.newexternalrefnum.$error">
                            <p ng-message="required">Update External Reference Number cannot be empty.</p>
                        </div>
                    </div>
                </form>
                <br />
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-disabled="ServiceRequestform.$invalid" formnovalidate ng-click="vmUtilitiesExt.RefreshSearch()">Reset</button>
                    <button class="btn btn-success" ng-click="vmUtilitiesExt.save()" ng-disabled="UtilitiesForm.$invalid ||(vmUtilitiesExt.ExternalRefNum === vmUtilitiesExt.NewExternalRefNum)">Update</button>
                    <button class="btn btn-success" ng-click="vmUtilitiesExt.saveandaccept()" ng-disabled="UtilitiesForm.$invalid ||(vmUtilitiesExt.ExternalRefNum === vmUtilitiesExt.NewExternalRefNum)">Update and Accept</button>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
