<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>      
    </div>
    <div class="modal-body">
        <form name="ProvideruploadForm" class="serviceForm">                      
            <div growl inline="true"></div>
            <div id="serviceproviderGrid" ui-grid="vmTestProviderControl.gridOptions" ui-grid-edit class="ui-grid-selectable" >                                
                <div class="grid-msg-overlay" ng-show="!vmTestProviderControl.gridOptions.columnDefs.length" ng-hide="!vmTestProviderControl.loading">                    
                    <div class="msg"> 
                        <span>
                            Loading Data...
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>                                               
                    </div>
                </div>
            </div>
        </form>
    </div>  
        <div class="modal-footer">  
            <label style="color:red">Required Field Missing Records will be Excluded During upload.</label>
            <label class="btn btn-primary">
                <input style="display: none;" type="file" accept=".xls,.xlsx" fileread="" opts="vmTestProviderControl.gridOptions" />
                Browse
            </label>                 
            <button class="btn btn-primary" type="button" ng-disabled="!vmTestProviderControl.gridOptions.columnDefs.length"   ng-click="vmTestProviderControl.reset()">Reset Grid</button>
            <button class="btn btn-success" type="button" ng-disabled="!vmTestProviderControl.gridOptions.columnDefs.length"  ng-click="vmTestProviderControl.upload()">Save data</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
</div>