<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New Provider</h3>
    </div>
    <div class="widget-content">
        <form name="officeAddForm" class="serviceForm">
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group required" ng-class="{ 'has-error' : officeAddForm.externalofficeid.$invalid && !officeAddForm.externalofficeid.$touched }">
                <label class="label-md">External ID</label>
                <input ng-minlength="3" ng-pattern="/^[A-Za-z0-9]+$/" class="input" type="text" name="externalofficeid" required ng-model="vofficemap.entity.ExternalID" />
                <div ng-if="officeAddForm.externalofficeid.$dirty" ng-min class="help-block with-errors" ng-messages="officeAddForm.externalofficeid.$error">
                    <p ng-message="required">External ID cannot be empty.</p>
                    <p ng-message="minlength">External ID must contain at least 3 characters.</p>
                    <p ng-message="pattern">Special characters/spaces are not allowed.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : officeAddForm.ProviderName.$invalid}">
                <label class="label-md">Provider Name</label>
                <input ng-pattern="/^[A-Za-z0-9-_ ]+$/" class="input" type="text" name="ProviderName" ng-model="vofficemap.entity.ProviderName" />
                <div ng-if="officeAddForm.ProviderName.$dirty" ng-min class="help-block with-errors" ng-messages="officeAddForm.ProviderName.$error">
                    <p ng-message="pattern">Invalid Provider Name.</p>
                </div>
            </div>

            <div class="form-group required">
                <label class="label-md">Internal Application</label>
                <select required ng-model="vofficemap.entity.InternalApplicationID" ng-options="obj.ID as obj.Name for obj in vofficemap.InternalApplicationList">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group required">
                <label class="label-md">External Application</label>
                <select required ng-model="vofficemap.entity.ExternalApplicationID" ng-options="obj.ID as obj.Name for obj in vofficemap.ExternalApplicationList">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group required" ng-class="{ 'has-error' : officeAddForm.ServiceProviderId.$invalid && !officeAddForm.ServiceProviderId.$touched }" ng-if="vofficemap.entity.ExternalApplicationID == '28' ">
                <label class="label-md">Service Provider ID</label>
                <input ng-disabled="!hasAccess" required  ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" class="input" type="text" name="ServiceProviderId" ng-model="vofficemap.entity.ServiceProviderId" />
                <div class="help-block" ng-messages="officeAddForm.ServiceProviderId.$error">
                    <p ng-show="officeAddForm.ServiceProviderId.$error.required">Service Provider ID cannot be empty.</p>
                    <p ng-message="pattern">Special characters/spaces are not allowed.</p>
                </div>
            </div>
            <!--<div class="form-group">
        <label style="min-width:166px" for="chkRuleEngine">
            Use Rule Engine
            <input type="checkbox" id="chkRuleEngine" ng-model="vofficemap.entity.IsUseRuleEngine" ng-change="ShowHide()" ng-true-value="true" ng-false-value="false" />
        </label>
    </div>-->
            <div class="well well-sm">
                <b>Conditions</b>
            </div>
            <div class="form-group">
                <label class="label-md">State</label>
                <select class="select-sm" ng-change="vofficemap.LoadCounty(vofficemap.State.StateFIPS)" ng-model="vofficemap.State" ng-options="obj as obj.PreferenceState for obj in vofficemap.StateFipsList | filter:$viewValue">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-md">County</label>
                <select class="select-sm" ng-init="vofficemap.county == obj[0]" ng-model="vofficemap.county" ng-options="obj as obj.county for obj in vofficemap.CountyFipsList| filter:$viewValue"></select>
            </div>
            <div>
                <button class="btn btn-sm btn-link" style="cursor:pointer" ng-disabled="vofficemap.State == '' || !vofficemap.State " ng-click="vofficemap.AddCondition()"><i class="fa fa-plus"></i> Add Selected State/County</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>County</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="Condition in vofficemap.entity.LocationCondition">
                        <td>{{Condition.PreferenceState.PreferenceState}}</td>
                        <td>{{Condition.PreferenceCounty.county}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="vofficemap.Remove(Condition)">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="well well-sm">
                <b>Results</b>
            </div>
            <div class="form-group required">
                <label class="label-md">Tenant</label>
                <!--<input class="input" type="text" disabled value="{{vofficemap.entity.Tenant}}" />-->
                <select class="select-sm" required ng-model="vofficemap.entity.TenantId" ng-options="obj.TenantId as obj.TenantName for obj in vofficemap.TenantList">
                  <option value="{{vofficemap.entity.Tenant}}">--Please select--</option>
                </select>
            </div>
            <div class="form-group">
                <label style="width:167px">
                    Bind Only
                    <input class="input" type="checkbox" ng-disabled="!hasAccess || vofficemap.entity.TenantId == 2 || vofficemap.entity.TenantId ==7 " id="chkBindOnly" ng-model="vofficemap.entity.IsBindOnly" ng-true-value="true" ng-false-value="false">
                </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="officeAddForm.$invalid" ng-click="vofficemap.save()">Save</button>
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
</div>