<div antiforgerytoken></div>

<div class="ps-dashboard-header" ng-controller="psEndPointAccessController as vmUtilitiesEndPoint">
    <ul class="breadcrumb">
        <li class="subbreadcrumb">
            <ps-sub-menu>
                <ps-sub-menu-item label="Manage Service Request" route="manageservicerequest">Manage Service Request</ps-sub-menu-item>
                <ps-sub-menu-item label="Confirm Service Request" route="confirmservicerequest">Confirm Service Request</ps-sub-menu-item>
                <ps-sub-menu-item label="EndPoint Access" activetab="EndPoint Access" route="endpointaccess">EndPoint Access</ps-sub-menu-item>
            </ps-sub-menu>
        </li>
    </ul>
    <div class="wrapper">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <ul class="ps-page-title">
                <li>EndPoint Access</li>
            </ul>
            <div class="widget-content fa-align-center">
                <div growl inline="true" limit-messages="1" ng-show="showMessage"></div>
                <br />
                <form name="EndPointUtilityForm" class="serviceForm">
                   
                        <div class="form-group required">
                            <label class="label-lg">Application Name</label>
                            <select required ng-model="vmUtilitiesEndPoint.Application" ng-options="obj.ApplicationName as obj.ApplicationName for obj in vmUtilitiesEndPoint.ApplicationList">
                                <option value="">---Please select---</option>
                            </select>
                        </div>
                 
                    <div class="form-group required">
                        <label class="label-lg">User Name</label>
                        <input class="input" type="text" required ng-model="vmUtilitiesEndPoint.UserName" />
                    </div>

                    <div class="form-group required">

                        <label class="label-lg">Password</label>
                        <input required type="password" ng-if="!showPassword"
                               ng-model="vmUtilitiesEndPoint.Password"
                               class="input" >
                        <input required type="text"
                               ng-model="vmUtilitiesEndPoint.Password"
                               class="input"  ng-if="showPassword">

                        <span ng-if="vmUtilitiesEndPoint.Password"
                              ng-click="vmUtilitiesEndPoint.toggleShowPassword()"
                              class="glyphicon glyphicon-eye-open"
                              style="cursor: pointer; pointer-events: all;">
                        </span>


                        <!-- show password as type="text" -->
                        <!--<div ng-if="showPassword"
         class="form-group has-feedback">
        <label class="label-lg">Password</label>
        <input type="text"
               ng-model="vmUtilitiesEndPoint.Password"
               class="input" required>
        <span ng-if="vmUtilitiesEndPoint.Password"
              ng-click="vmUtilitiesEndPoint.toggleShowPassword()"
              class="glyphicon glyphicon-eye-close"
              style="cursor: pointer; pointer-events: all;">
        </span>
    </div>-->
                    </div>
                  </form>
                <br />
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="vmUtilitiesEndPoint.save()" ng-disabled="vmUtilitiesEndPoint.Submitted || EndPointUtilityForm.$invalid"">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>