<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New Request</h3>
    </div>
    <div class="widget-content">
        <form name="customerRegistrationdForm" class="serviceForm" novalidate>
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group">
                <div>
                    <!--<label>Customer ID</label>-->
                    <input class="input" type="text" ng-hide="true"  ng-model="AccessReq.entity.CustomerRegistrationId" />
                </div>

                <div class="form-group required" ng-class="{ 'has-error' : customerRegistrationdForm.FirstName.$invalid && ! customerRegistrationdForm.FirstName.$touched }">
                    <label class="label-md">First Name </label>
                    <input  ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9-'.\s]*$/" class="input" name="FirstName" type="text" required ng-model="AccessReq.entity.FirstName" />
                    <div ng-if="customerRegistrationdForm.FirstName.$dirty" ng-min class="help-block with-errors" ng-messages="customerRegistrationdForm.FirstName.$error">
                        <p ng-message="required">First Name cannot be empty.</p>
                        <p ng-message="pattern">Special characters are not allowed</p>
                    </div>
                </div>
                <div class="form-group required" ng-class="{ 'has-error' : customerRegistrationdForm.LastName.$invalid && ! customerRegistrationdForm.FirstName.$touched }">
                    <label class="label-md">Last Name</label>
                    <input  ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9-'.\s]*$/" class="input" name="LastName" type="text" required ng-model="AccessReq.entity.LastName" />
                    <div ng-if="customerRegistrationdForm.LastName.$dirty" ng-min class="help-block with-errors" ng-messages="customerRegistrationdForm.LastName.$error">
                        <p ng-message="required">Last Name  cannot be empty.</p>
                        <p ng-message="pattern">Special characters are not allowed</p>
                    </div>
                </div>
                <div class="form-group required" ng-class="{ 'has-error' : customerRegistrationdForm.Email.$invalid && ! customerRegistrationdForm.Email.$touched }">
                    <label class="label-md">Email</label>
                    <input ng-maxlength="50" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" class="input" name="Email" type="text" required ng-model="AccessReq.entity.EmailId" />
                    <div ng-if="customerRegistrationdForm.Email.$dirty" ng-min class="help-block with-errors" ng-messages="customerRegistrationdForm.Email.$error">
                        <p ng-message="required">Email  cannot be empty.</p>
                        <p ng-message="pattern">Email Not  formatted</p>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : customerRegistrationdForm.Phone.$invalid && ! customerRegistrationdForm.Phone.$touched }">
                    <label class="label-md">Phone</label>
                    <phonenumber-directive  class="input"  model='AccessReq.entity.PhoneNo'></phonenumber-directive>
                </div>
             

                <div class="form-group required" ng-class="{ 'has-error' : customerRegistrationdForm.Company.$invalid && ! customerRegistrationdForm.Company.$touched }">
                    <label class="label-md">Company Name</label>
                    <input ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s'-.]+$/" class="input" name="Company" type="text" required ng-model="AccessReq.entity.CompanyName" />
                    <div ng-if="customerRegistrationdForm.Company.$dirty" ng-min class="help-block with-errors" ng-messages="customerRegistrationdForm.Company.$error">
                        <p ng-message="required">Company Name cannot be empty.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : customerRegistrationdForm.Project.$invalid && ! customerRegistrationdForm.Project.$touched }">
                    <label class="label-md">Project Name</label>
                    <input ng-maxlength="50" ng-pattern="/^[a-zA-Z0-9\s'-.]+$/" class="input" name="Project" type="text"  ng-model="AccessReq.entity.ProjectName" />
                    <div ng-if="customerRegistrationdForm.Project.$dirty" ng-min class="help-block with-errors" ng-messages="customerRegistrationdForm.Project.$error">
                        <p ng-message="required">Project Name cannot be empty.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-md">Notes </label>

                    <div style="display:inline-block;width :auto;" >
                        <ul>
                            <li style="padding:2px 3px;">
    <label class="label-lg">Select your project's API requirements </label>

</li>
                            <li style="padding:2px 3px;" >
                                <label class="label-lg"> Title & Settlement            <input  class="input" type="checkbox" ng-model="AccessReq.entity.TitleAndSettlement" ng-true-value="true" ng-false-value="false">
                                </label>

                            </li>
                            <li style="padding:2px 3px;" >
                                <label  class="label-lg" > Ineractive Office Directory <input class="input" type="checkbox" ng-model="AccessReq.entity.IneractiveOfficeDirectory" ng-true-value="true" ng-false-value="false" >
                                </label>

                            </li>                           

                            <li style="padding:2px 3px;" >
                                <label  class="label-lg"> Other                         <input class="input" type="checkbox" ng-model="AccessReq.entity.Other" ng-true-value="true" ng-false-value="false" ng-change="AccessReq.ChangeOther()" >
                                </label>

                            </li>
                            <li style="padding:2px 3px;" ng-show="AccessReq.entity.Other"  >
                                <label>
                                    <input ng-maxlength=500 ng-required=AccessReq.entity.Other class="input" name="OtherRequirement" type="text"  ng-model="AccessReq.entity.OtherRequirement" />
                                </label>

                            </li>
                            <li style="padding:2px 3px;" >
                                <label>
                                    <textarea ng-maxlength=500  placeholder="Type Your Comments Here" name="comment" style="width:417px;height:113px;" id="comment-textarea" ng-model="AccessReq.entity.Comments"></textarea>
                                </label>

                            </li>
                        </ul>
                    </div>
                    </div>


              </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-danger" ng-disabled="customerRegistrationdForm.$invalid" ng-click="AccessReq.Active()">Active</button>
            <button class="btn btn-danger" ng-disabled="customerRegistrationdForm.$invalid" ng-click="AccessReq.Accept()">Approve</button>
            <button class="btn btn-danger" ng-disabled="true" ng-click="AccessReq.Decline()">Decline</button>
            <button class="btn btn-danger" ng-disabled="true" ng-click="AccessReq.Deactivate()">Deactivate</button>
            <button class="btn btn-success" ng-disabled="customerRegistrationdForm.$invalid || !customerRegistrationdForm.$dirty" ng-click="AccessReq.save()">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>

</div>