

body {
	background: #E8E8E8;
	font: 13px/1.1em 'Open Sans';
}
    
p { 
	font: 13px/1.1em 'Open Sans'; 	
}
    
input,
button,
select,
textarea {
  font-family: 'Open Sans';
}

.container-fluid {
    padding: 0;
}

.sign-in-form {
    padding: 80px;
}

.dropdown .dropdown-menu {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.btn-icon-only {
	padding-right: 3px;
	padding-left: 3px;
}

.table td {
	vertical-align: middle;
}

.table-bordered th {
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	
	font-size: 10px;
	color: #444;
	text-transform: uppercase;
}


.error {
    padding-left:10px;
    font-size: 13px; 	
}

.checkboxList {
    background-color:#fff; 
    color:#000;
    margin-top:0;
    padding-left:10px;
    padding-top: 0px;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;	
	text-decoration: none;
	border-radius: 5px;
}

.radio-inline-modified {
    margin: 2px 0 0;
}

. {
    resize: none;
    box-sizing: content-box;
}

.ui-grid-selectable .ui-grid-disable-selection {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor:auto;
}

.ui-grid-pager-panel{
    position:unset;
    margin-top: 4px;
}

#fastInfoPanel {
    position: absolute;
    top: 50px;
    right: 90px;
    background-color: #5cb85c;
    width: 150px;
    height: 34px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    z-index: 25;
    color: #fff;
}

    #fastInfoPanel:hover {
        background-color: #398439;
    }

.hideFastInfoPanel{
    display:none;
}