<div antiforgerytoken></div>

<div>
    <div class="widget-header ps-widget-header-buttons">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New Location </h3>
    </div>
    <div class="widget-content">
        <form class="serviceForm" name="AddBranchForm">
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group" ng-show="vbranchmap.entity.Tenant == 'LVIS'">
                <label class="label-lg">Tenant</label>
                <input class="input" type="text" disabled value="{{vbranchmap.entity.Tenant}}" />
            </div>
            <div class="form-group">
                <label class="label-lg">Customer Name</label>
                <input class="input" ng-disabled="true" type="text" name="ExternalCustomer" required ng-model="vbranchmap.entity.CustomerName" />
                <div class="help-block" ng-messages="AddBranchForm.ExternalCustomer.$error">
                </div>
            </div>
            <div class="form-group required" ng-class="{ 'has-error' : AddBranchForm.ExternalLocationID.$invalid && !AddBranchForm.ExternalLocationID.$touched }">
                <label class="label-lg">External ID</label>
                <input required ng-pattern="/^[a-zA-Z0-9\s]+$/" class="input" type="text" name="ExternalLocationID" ng-model="vbranchmap.entity.ExternalId" />
                <div ng-if="AddBranchForm.ExternalLocationID.$dirty" class="help-block" ng-messages="AddBranchForm.ExternalLocationID.$error">
                    <p ng-show="AddBranchForm.ExternalLocationID.$error.required">External ID cannot be empty.</p>
                    <p ng-message="pattern">Special characters are not allowed</p>
                </div>
            </div>
            <div class="form-group required" ng-class="{ 'has-error' : AddBranchForm.LocationName.$invalid && !AddBranchForm.LocationName.$touched }">
                <label class="label-lg">Location Name</label>
                <input required ng-pattern="/^[a-zA-Z0-9\s-_\()]+$/" class="input" type="text" name="LocationName" ng-model="vbranchmap.entity.LocationName" />
                <div ng-if="AddBranchForm.LocationName.$dirty" class="help-block" ng-messages="AddBranchForm.LocationName.$error">
                    <p ng-show="AddBranchForm.LocationName.$error.required">Location Name cannot be empty.</p>
                    <p ng-message="pattern">Special characters are not allowed</p>
                </div>
            </div>
            <ng-form name="MultiSelectform">
                <div ng-show="ServicePreferenceShow" class="form-group required" ng-class="{ 'has-error' : MultiSelectform.ServicePreference.$invalid && !MultiSelectform.ServicePreference.$touched }">
                    <label class="label-lg">Service Preference </label>
                    <div class="select-sm" required isteven-multi-select
                         input-model="vbranchmap.ServicePrefrences"
                         output-model="vbranchmap.entity.ServicePreference "
                         button-label="Name"
                         item-label="Name"
                         tick-property="Ticked"
                         helper-elements="all none"
                         selection-mode=""
                         style="display:inline-block; padding:0px;width:196px; margin:0;"
                         >
                    </div>
                    <input type="text" ng-show="false" ng-model="vbranchmap.entity.ServicePreference" name="ServicePreference" style="display:none" ng-required="ServicePreferenceShow" />
                </div>
            </ng-form>
            <div class="form-group">
                <label class="label-lg">Default Fast File Notes</label>
                <textarea class="select-lg" ng-model="vbranchmap.entity.Notes" style="height: 100px;" />
            </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="AddBranchForm.$invalid || (MultiSelectform.ServicePreference.$invalid && ServicePreferenceShow)" ng-click="vbranchmap.save()">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>

</div>