<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Edit Location</h3>
    </div>
    <div class="widget-content">
        <form class="serviceForm" name="EditBranchForm">
            <div growl inline="true" limit-messages="1"></div>

            <div ng-show="tenantname == 'LVIS'">
                <label class="label-lg">Tenant</label>
                <input class="input" type="text" ng-disabled="true" value="{{vbranchmap.entity.Tenant}}" />
            </div>
            <div class="form-group">
                <label class="label-lg">Customer Name</label>
                <input class="input" ng-disabled="true" type="text" name="ExternalCustomer" required ng-model="vbranchmap.entity.CustomerName" />
                <div class="help-block" ng-messages="EditBranchForm.ExternalCustomer.$error">
                </div>
            </div>
            <div>
                <label class="label-lg" ng-hide="true">BID</label>
                <input class="input" type="text" required ng-model="vbranchmap.entity.LocationId" ng-hide="true" />
            </div>
            <div class="form-group required" ng-class="{ 'has-error' : EditBranchForm.ExternalId.$invalid && !EditBranchForm.ExternalId.$touched }">
                <label class="label-lg">External ID</label>
                <input required ng-disabled="!hasAccess" ng-pattern="/^[a-zA-Z0-9\s]+$/" class="input" type="text" name="ExternalLocationID" ng-model="vbranchmap.entity.ExternalId" />
                <div ng-if="EditBranchForm.ExternalId.$dirty" class="help-block" ng-messages="EditBranchForm.ExternalId.$error">
                    <p ng-show="EditBranchForm.ExternalId.$error.required">External ID cannot be empty.</p>
                    <p ng-message="pattern">Special characters are not allowed</p>
                </div>
            </div>
            <div class="form-group required" ng-class="{ 'has-error' : EditBranchForm.LocationName.$invalid && !EditBranchForm.LocationName.$touched }">
                <label class="label-lg">Location Name</label>
                <input required ng-disabled="!hasAccess" ng-pattern="/^[a-zA-Z0-9\s-_\()]+$/" class="input" type="text" name="LocationName" ng-model="vbranchmap.entity.LocationName" />
                <div ng-if="EditBranchForm.LocationName.$dirty" class="help-block" ng-messages="EditBranchForm.LocationName.$error">
                    <p ng-show="EditBranchForm.LocationName.$error.required">Location Name cannot be empty.</p>
                    <p ng-message="pattern">Special characters are not allowed</p>
                </div>
            </div>
            <ng-form name="MultiSelectform">
                <div ng-show="ServicePreferenceShow" class="form-group required" ng-class="{ 'has-error' : MultiSelectform.ServicePreference.$invalid && !MultiSelectform.ServicePreference.$touched }">
                    <label class="label-lg">Service Preference </label>
                    <div class="select-sm" isteven-multi-select
                         input-model="vbranchmap.ServicePrefrences"
                         output-model="vbranchmap.entity.ServicePreference "
                         button-label="Name"
                         item-label="Name"
                         tick-property="Ticked"
                         helper-elements="all none"
                         selection-mode=""
                         style="display:inline-block; padding:0px;width:196px; margin:0;"
                         >
                    </div>
                    <input type="text" ng-show="false" ng-model="vbranchmap.entity.ServicePreference" name="ServicePreference" style="display:none" ng-required="ServicePreferenceShow" />
                </div>
            </ng-form>
            <div class="form-group">
                <label class="label-lg">Default Fast File Notes</label>
                <textarea class="select-lg" ng-model="vbranchmap.entity.Notes" style="height: 100px;" />
            </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="(!hasAccess || EditBranchForm.$invalid) || (MultiSelectform.ServicePreference.$invalid && ServicePreferenceShow)" ng-click="vbranchmap.save()" inputDisabled>Save</button>
            <button class="btn btn-danger" ng-disabled="!hasSuperAccess" ng-click="vbranchmap.remove()">Delete</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
