<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <div class="modal-body">
        <form name="LocationuploadForm" class="serviceForm">
            <div growl inline="true"></div>
            <div id="servicelocationGrid" ui-grid="vbranchmappopup.gridOptions" ui-grid-edit class="ui-grid-selectable">
                <div class="grid-msg-overlay" ng-show="vbranchmappopup.loading">
                    <div class="msg">
                        <span>
                            Loading Data...
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <label style="color:red">Required Field Missing Records will be Excluded During upload.</label>
        <label class="btn btn-primary">
            <input style="display: none;" type="file" accept=".xls,.xlsx" fileexcelread="" opts="vbranchmappopup.gridOptions" />
            Browse
        </label>
        <button class="btn btn-primary" type="button" ng-disabled="!vbranchmappopup.gridOptions.columnDefs.length" ng-click="vbranchmappopup.reset()">Reset</button>
        <button class="btn btn-success" type="button" ng-disabled="!vbranchmappopup.gridOptions.columnDefs.length" ng-click="vbranchmappopup.upload()">Save</button>
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
</div>