<div antiforgerytoken></div>

    <div >
        <div class="widget-header">
            <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            <i class="fa fa-2x fa-pencil-square-o"></i>
            <h3>Edit Outbound Document</h3>
        </div>
        <div class="widget-content">
            <form class="serviceForm" name="EditDocForm">
                <div growl inline="true" limit-messages="1"></div>
                <div class="well well-sm">
                    <b>Conditions</b>
                </div>  
                <div class="form-group" ng-show="tenantname == 'LVIS'">
                    <label class="label-lg">Tenant</label>
                    <input class="select-md" disabled value="{{voutdocmap.entity.Tenant.Name}}" />
                </div>

                <div class="form-group required">
                    <label class="label-lg">LVIS Document Type</label>
                    <select class="select-md" required ng-disabled="!hasAccess" ng-model="voutdocmap.entity.InternalDocumentType" ng-options="option.Name for option in voutdocmap.InternalDoctypeList track by option.ID">
                        <option value="">---Please select---</option>
                    </select>
                </div>

                <div class="form-group required">
                    <label class="label-lg">Application</label>
                    <input class="select-md" disabled value="{{voutdocmap.entity.ExternalApplication.Name}}" />
                </div>
                <div class="form-group required">
                    <label class="label-lg">Service</label>
                    <select class="select-md" required ng-disabled="!hasAccess" ng-model="voutdocmap.entity.Service" ng-options="option.Name for option in voutdocmap.ServiceList | orderBy:'Name' track by option.ID">
                        <option value="">---Any---</option>
                    </select>
                </div>
                <div class="well well-sm">
                    <b>Results</b>
                </div>  
                <div class="form-group">
                    <label class="label-lg">Document Status</label>
                    <select class="select-md" required ng-disabled="!hasAccess" ng-model="voutdocmap.entity.DocumentStatus" ng-options="option.Name for option in voutdocmap.DocumentStatusList track by option.ID">
                        <option value="">---Please select---</option>
                    </select>
                </div>                
                <div class="form-group required">
                    <label class="label-lg">External Document Type</label>
                    <select class="select-md" required ng-disabled="!hasAccess" ng-model="voutdocmap.entity.ExternalDocumentType" ng-options="option.Name for option in voutdocmap.ExternalDoctypeList track by option.ID">
                        <option value="">---Please select---</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label class="label-lg">External Message Type</label>
                    <select class="select-md" ng-disabled="!hasAccess" ng-change="voutdocmap.LoadExternalMessageTypes()" ng-model="voutdocmap.entity.ExternalMessageType" ng-options="option.MessageTypeName for option in voutdocmap.ExternalMessageTypeList track by option.MessageTypeId">
                        <option value="">---Please select---</option>
                    </select>
                </div>
                <div>
                    <button  class="btn btn-sm btn-link" style="cursor:pointer" ng-disabled="voutdocmap.entity.ExternalMessageType == '' || !voutdocmap.entity.ExternalMessageType " ng-click="voutdocmap.AddMMessageType()"><i class="fa fa-plus"></i> Add Selected MessageType</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>External Message Type</th>
                            <th>Sequence</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, option) in  voutdocmap.entity.ExternalMessageTypeList">
                            <td>{{option.MessageTypeName}}</td>
                            <td>  
                                <span ng-hide="option.Editable" ng-click="voutdocmap.editItem($event, option)">{{option.Sequence}}</span>
                                <input type="number" ng-show="option.Editable" ng-model="option.Sequence" ng-blur="voutdocmap.doneEditing($event, key, option)" />
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm" ng-click="voutdocmap.Remove(option)">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>  
            </form>
            <br />
            <div class="modal-footer">
                <button class="btn btn-success" ng-disabled="!hasAccess || (!EditDocForm.$dirty && !voutdocmap.FormDirty)||EditDocForm.$invalid ||(voutdocmap.entity.ExternalMessageTypeList.length == 0)"   ng-click="voutdocmap.save()">Save</button>
                <button class="btn btn-danger" ng-disabled="!hasSuperAccess" ng-click="voutdocmap.remove()">Delete</button>
                <button class="btn btn-primary" ng-click="$close()">Cancel</button>
            </div>
        </div>
    </div>
