<div antiforgerytoken></div>
<div>
    <div class="widget-header" style="vertical-align:text-top;">
        <button type="button" class="close" ng-click="$close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <i class="fa fa-plus"></i>
        <h3>Add New Inbound Document </h3>
    </div>
        <div class="widget-content">
            <form name="InboundAddForm" class="serviceForm">                          
                <div growl inline="true" limit-messages="1"></div>
                <div class="well well-sm">
                    <b>Conditions</b>
                </div> 
                <input class="input" type="text" ng-hide="true" required ng-model="vindocmap.entity.inboundDocumentMapid" />
                <div class="form-group" ng-show="vindocmap.entity.Tenant == 'LVIS'">
                    <label class="label-lg">Tenant</label>
                    <input class="select-md" disabled value="{{vindocmap.entity.Tenant}}" />
                </div>

                <div class="form-group required">
                    <label class="label-lg">Application</label>
                    <select class="select-md" required ng-change="vindocmap.LoadExternalDocTypes()" ng-model="vindocmap.entity.ExternalApplication" ng-options="obj.ID as obj.Name for obj in  vindocmap.ExternalApplicationList | orderBy:'Name'">
                        <option value="">---Please select---</option>
                    </select>
                </div>

                <div class="form-group required">
                    <label class="label-lg">External Document Type</label>
                    <select class="select-md" required ng-model="vindocmap.entity.ExternalDocumentType" ng-options="obj.ID as obj.Name for obj in vindocmap.ExternalDoctypeList">
                        <option value="">---Please select---</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="label-lg">External Document Description</label>
                    <input class="select-md" ng-model="vindocmap.entity.ExternalDocumentDescription" >
                </div>
                <div class="form-group">
                    <label class="label-lg">Service</label>
                    <select class="select-md" ng-model="vindocmap.entity.Service" ng-options="obj.ID as obj.Name for obj in vindocmap.ServiceList  | orderBy:'Name'">
                        <option value="">---Please select---</option>
                    </select>
                </div>     
                <div class="well well-sm">
                    <b>Results</b>
                </div>
                <div class="form-group required">
                    <label class="label-lg">LVIS Document Type</label>
                    <select class="select-md" required ng-model="vindocmap.entity.InternalDocumentType" ng-options="obj.ID as obj.Name for obj in vindocmap.InternalDoctypeList">
                        <option value="">---Please select---</option>
                    </select>
                </div>
                
            </form>
            <br />
            <div class="modal-footer">
                <button class="btn btn-success" ng-disabled="InboundAddForm.$invalid"  ng-click="vindocmap.save()">Save</button>
                <button class="btn btn-primary" ng-click="$close()">Cancel</button>
            </div>
        </div>
    </div>
