<div antiforgerytoken></div>
<div>

    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Edit Category</h3>
    </div>
    <div class="widget-content">
        <form name="groupEditForm" class="serviceForm">
            <div growl inline="true" limit-messages="1"></div>
            <div>
                <div ng-hide="true">
                    <label>Category Id</label>
                    <input class="input" type="text" required ng-model="vgmap.entity.CategoryId" />
                </div>
                <div class="form-group" ng-show="tenantname == 'LVIS'">
                    <label>Tenant</label>
                    <input class="input" type="text" disabled value="{{vgmap.entity.Tenant}}" />
                </div>
                <div class="form-group required" ng-class="{ 'has-error' : groupEditForm.groupname.$invalid && !groupEditForm.groupname.$touched }">
                    <label>Category Name </label>
                    <input required ng-disabled="!hasAccess" ng-minlength="3"  ng-pattern="/^[a-zA-Z0-9\s]+$/" class="input" name="groupname" type="text" ng-model="vgmap.entity.CategoryName" />
                    <div ng-if="groupEditForm.groupname.$dirty" class="help-block" ng-messages="groupEditForm.groupname.$error">
                        <p ng-show="groupEditForm.groupname.$error.required">Group Name cannot be empty.</p>
                        <p ng-message="minlength">Group Name must contain at least 3 characters.</p>
                        <p ng-message="pattern">Special characters are not allowed</p>

                    </div>
                </div>
                <div class="form-group">
                    <label>Application</label>
                    <input class="input" type="text" ng-disabled="true" value="{{vgmap.entity.ApplicationName}}" />
                </div> 
            </div>
        </form>
        <br />
        <div class="modal-footer">            
            <button class="btn btn-success" ng-disabled="!hasAccess || groupEditForm.groupname.$invalid || !groupEditForm.groupname.$dirty" ng-click="groupEditForm.groupname.$valid && vgmap.save()">Save</button>
            <button class="btn btn-danger" ng-disabled="!hasSuperAccess" ng-click="vgmap.remove()">Delete</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
