<div antiforgerytoken></div>

<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New Category </h3>
    </div>
    <div class="widget-content">
        <form name="groupAddForm" class="serviceForm" novalidate>
            <div growl inline="true" limit-messages="1"></div>
            <div>
                <div ng-hide="true">
                    <label>GID</label>
                    <input class="input" type="text" required ng-model="vgmap.entity.CategoryId" />
                </div>
                <div class="form-group" ng-show="vgmap.entity.Tenant == 'LVIS'">
                    <label>Tenant</label>
                    <input class="input" type="text" disabled  value="{{vgmap.entity.Tenant}}" />
                </div>
                <div class="form-group required" ng-class="{ 'has-error' : groupAddForm.groupname.$invalid && !groupAddForm.groupname.$touched }">
                    <label>Category Name </label>
                    <input ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]+$/" class="input" name="groupname" type="text" required ng-model="vgmap.entity.CategoryName" />
                    <div ng-if="groupAddForm.groupname.$dirty" ng-min class="help-block with-errors" ng-messages="groupAddForm.groupname.$error ">
                        <p ng-message="required">Category Name cannot be empty.</p>
                        <p ng-message="minlength">Category Name must contain at least 3 characters.</p>
                        <p ng-message="pattern">Special characters are not allowed</p>
                    </div>
                </div>

            </div>

        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="groupAddForm.groupname.$valid && vgmap.save()" ng-disabled="groupAddForm.groupname.$invalid">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
