<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New Product Provider Map</h3>
    </div>
    <div class="widget-content">
        <form name="productproviderAddForm" class="serviceForm" novalidate>
            <div growl inline="true" limit-messages="1"></div>

            <div class="form-group">
                <label>Provider ID</label>
                <!--<select class="select-lg" required ng-model="vproductmap.entity.ProviderId" ng-options="obj as obj.ProviderName  for obj in vproductmap.ProviderList">
            <option value="">---Please select---</option>
        </select>-->
                <input class="select-lg" disabled value="{{vproductmap.entity.ProviderName}}" />
            </div>
            <div class="form-group required">
                <label>Customer ID</label>
                <select class="select-lg" required ng-model="vproductmap.entity.CustomerId" ng-options="obj.LvisCustomerID as obj.CustomerName  for obj in vproductmap.customerList | orderBy:'CustomerName'" ng-change="vproductmap.LoadLocationbyCustId(vproductmap.entity.CustomerId)">
                    <option value="">--Please Select--</option>
                </select>
            </div>
            <div class="form-group required">
                <label>Location ID</label>
                <select class="select-lg" required ng-model="vproductmap.entity.LocationId" ng-options="obj.LocationId as obj.LocationName  for obj in vproductmap.LocationList | orderBy:'LocationName'" ng-change="vproductmap.LoadContact(vproductmap.entity.LocationId)">
                    <option value="">--Please Select--</option>
                </select>
            </div>
            <div class="form-group">
                <label>Contact ID</label>
                <select class="select-lg" ng-model="vproductmap.entity.ContactId" ng-options="obj.ContactId as obj.LvisContactid for obj in vproductmap.ContactList | orderBy:'LvisContactid'">
                    <option value="">--Any--</option>
                </select>
            </div>
            <div class="form-group">
                <label>Service</label>
                <select class="select-lg" ng-model="vproductmap.entity.ServiceId" ng-options="obj.ID  as obj.Name  for obj in vproductmap.ServiceList  | orderBy:'Name'">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group" ng-show="tenantname == 'LVIS'">
                <label>Tenant</label>
                <input class="select-lg" disabled value="{{vproductmap.entity.Tenant}}" />
            </div>
            <div class="form-group required ">
                <label>Application</label>
                <select class="select-lg" required ng-model="vproductmap.entity.ApplicationId" ng-options="obj.ID as obj.Name for obj in vproductmap.ApplicationList | orderBy:'Name'" ng-change="vproductmap.LoadProviderByExternalAppId(vproductmap.entity.ApplicationId)">
                    <option value="">---Please select---</option>
                </select>
            </div>
            <div class="form-group required">
                <label>Product</label>
                <select class="select-lg" required ng-model="vproductmap.entity.ProductId" ng-options="obj.ProductTypeId as obj.ProductTypedesc for obj in vproductmap.ProductList | orderBy:'ProductTypedesc'" >
                    <option value="">--Please Select--</option>
                </select>
            </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="vproductmap.save()" ng-disabled="productproviderAddForm.$invalid">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
