<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>FASTWeb Order</h3>
</div>
<div class="widget-content">
    <div growl inline="true"></div>  
    <uib-accordion close-others="false">
        <form name="groupAddForm" class="serviceForm">
            <div uib-accordion-group ng-init="open=true" is-disabled="false" is-open="open" ng-click="vmFastWebOrders.setFlag(open)">
                <uib-accordion-heading>
                    <div class="well well-sm"><b>Add Forward To Office</b> <i class="pull-right fa" ng-class="{'fa-chevron-up': open, 'fa-chevron-down': !open}"></i></div>
                </uib-accordion-heading>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-lg" >UserId</label>
                            <input class="input"  type="text" disabled ng-model="vmFastWebOrders.UserId" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">First Name</label>
                            <input class="input" name="FirstName" type="text" required ng-model="vmFastWebOrders.entity.FirstName" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-md">BUID</label>
                            <input class="input" name="BUID" type="text" required ng-model="vmFastWebOrders.entity.BUID" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Last Name</label>
                            <input class="input" name="LastName" type="text" required ng-model="vmFastWebOrders.entity.LastName" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-accordion>
</div>
<br />
<div class="modal-footer">
    <button class="btn btn-danger" ng-disabled="groupAddForm.$invalid" ng-click="vmFastWebOrders.Submit()">Submit</button>
    <button class="btn btn-primary" ng-click="$close()">Close</button>
</div>