
<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>FASTWeb Order</h3>
</div>

<div class="widget-content">
    <div growl inline="true"></div>
    <form name="FASTWebOrderdetailsForm" class="serviceForm">


        <uib-accordion close-others="false">
            <div uib-accordion-group ng-init="open=true" is-disabled="false" is-open="open" ng-click="vmFastWebOrders.RowDetail.setFlag(open)">
                <uib-accordion-heading>
                    <div class="well well-sm"><b>Forward To</b> <i class="pull-right fa" ng-class="{'fa-chevron-up': open, 'fa-chevron-down': !open}"></i></div>
                </uib-accordion-heading>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-lg">FASTWeb #</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.RowDetail.entity.FASTWebOrderNumber" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Order Date</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.RowDetail.entity.OrderDate" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Customer Ref/Loan #</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.RowDetail.entity.CustomerRefNumber" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-md">Borrower Name</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.RowDetail.entity.BorrowerName" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Property Address</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.RowDetail.entity.PropertyAddressLine1" />
                        </div>
                        <div class="form-group">
                            <label class="label-md"></label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.RowDetail.entity.PropertyAddressLine2" />
                        </div>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-lg">Service Name</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.RowDetail.entity.ServiceName" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-md">Port Order Alert</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.RowDetail.entity.PortalOrderAlert" />
                        </div>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="container-fluid">
                            <div class="form-group required">
                                <label class="label-lg">Forward To</label>
                                <select ng-model="vmFastWebOrders.OfficeValue" ng-options="obj.Userid as obj.Fullname for obj in vmFastWebOrders.OfficeTypeSelection"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

        </uib-accordion>
    </form>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="vmFastWebOrders.resubmit()" ng-disabled="vmFastWebOrders.OfficeValue == null">SUBMIT</button>
        <button class="btn btn-primary" ng-click="$close()">Close</button>
    </div>
</div>





