
<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>FASTWeb Order</h3>
</div>
<div class="widget-content">
    <div growl inline="true"></div>
    <uib-accordion close-others="false">
        <form name="FASTWebOrdersForm" class="serviceForm">
            <div uib-accordion-group ng-init="open=true" is-disabled="false" is-open="open" ng-click="vmFastWebOrders.setFlag(open)">
                <uib-accordion-heading>
                    <div class="well well-sm"><b>Order Details</b> <i class="pull-right fa" ng-class="{'fa-chevron-up': open, 'fa-chevron-down': !open}"></i></div>
                </uib-accordion-heading>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-lg">FASTWeb #</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.FASTWebOrderNumber" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Order Date</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.OrderDate" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Customer Ref/Loan #</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.CustomerRefNumber" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">LoanAmount</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Loanamount" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">SalePrice</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.SalePrice" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Transaction Type</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Transactiontype" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Property Type</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Propertytype" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Property Use</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Propertyuse" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-md">Customer Office</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Customeroffice" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Office Address</label>
                            <input ng-maxlength="35" class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Officeaddress" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Contact</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Contact" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Email</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Email" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Phone</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Orderphone" />
                        </div>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-lg">Property Address</label>
                            <input ng-maxlength="35" class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Propertyaddress" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">APN</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.APN" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-md">County</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.County" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Legal Description</label>
                            <textarea class="input" ng-disabled="true" ng-model="vmFastWebOrders.entity.Legaldescription" style="height: 50px;" />
                        </div>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-lg">Borrower Entity Type</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Borrowerentitytype" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Marital Status</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Maritalstatus" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Last Name</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Lastname" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">First Name</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Firstname" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-md">Current Address</label>
                            <input ng-maxlength="35" class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Currentaddress" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Spouse Last Name</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Spouselastname" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Spouse First Name</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Spousefirstname" />
                        </div>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-lg">Service Name</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Servicenname" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Processor</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Processor" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Address</label>
                            <input ng-maxlength="35" class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Address" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Order Desk Type</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Orderdesktype" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Contact Name</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Contactname" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Phone</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Servicephone" />
                        </div>
                        <div class="form-group">
                            <label class="label-lg">Email</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Serviceemail" />
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label class="label-md">Status</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Status" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">FAST File #</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.FASTfilenumber" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Portal Order Alert</label>
                            <input class="input" type="text" disabled ng-model="vmFastWebOrders.entity.Portalordealert" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Comments</label>
                            <textarea class="input" ng-disabled="true" ng-model="vmFastWebOrders.entity.Comments" style="height: 50px;" />
                        </div>
                        <div class="form-group">
                            <label class="label-md">Product(s)</label>
                            <textarea class="input" ng-disabled="true" ng-model="vmFastWebOrders.entity.Product" style="height: 50px;" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-accordion>
    <br />
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
</div>





