<div antiforgerytoken></div>
<div class="ps-dashboard-header" ng-controller="psFastWebOrdersController as vmFastWebOrders">
    <ul class="breadcrumb">
        <li class="subbreadcrumb">
            <ps-sub-menu>
                <ps-sub-menu-item label="Business Exception Queues" route="businessexception"></ps-sub-menu-item>
                <ps-sub-menu-item label="Technical Exception Queues" route="Exceptions"></ps-sub-menu-item>
                <ps-sub-menu-item label="Terminal Log Information" ng-show="vmFastWebOrders.showMenuloginfo" route="terminalloginformation"></ps-sub-menu-item>
                <ps-sub-menu-item label="FASTWeb Orders" ng-show="vmFastWebOrders.showMenuloginfofastweborders" activetab="FASTWeb Orders" route="fastweborders"></ps-sub-menu-item>
            </ps-sub-menu>
        </li>
    </ul>
    <div class="wrapper">
        <div class="col-lg-1"></div>
        <div class="col-lg-12">
            <ul class="ps-page-title">
                <li>{{vmFastWebOrders.ExceptionType}} FASTWeb Orders</li>
            </ul>
            <div growl inline="true"></div>
            <div class="container-fluid">
                <section class="row">
                    <div class="col-md-8">
                        <div class="form-group" style="display:inline-block">
                            <label>Order Search:</label>
                            <select ng-model="vmFastWebOrders.SearchTypeSelection.value" ng-options="obj.value as obj.title for obj in vmFastWebOrders.SearchTypeSelection"></select>
                            <input class="input" type="text" required ng-model="vmFastWebOrders.SearchText" />
                            <div style="display:inline-block;margin-left:0.5em;cursor:pointer" ng-show="!vmFastWebOrders.BusyRef">
                                <i class="fa fa-search" ng-click="vmFastWebOrders.searchbyType()"></i>
                            </div>
                            <div style="display:inline-block; margin:0 auto;" ng-show="vmFastWebOrders.BusyRef">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <button class="btn btn-sm right" style="margin:0 20px;cursor:pointer" ng-disabled="disabled"  ng-click="vmFastWebOrders.Reload()"><i class="fa fa-refresh"></i> Reload</button>
                            <i class="fa fa-spinner fa-spin" ng-show="vmFastWebOrders.BusyReload"></i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" style="display:inline-block; float:right; margin:0 auto;cursor:pointer">
                            <!--<button type="button" class="btn btn-sm float-right mt-2">Add Office</button>-->
                            <button class="btn btn-sm" style="cursor:pointer" ng-click="vmFastWebOrders.addNewGroup()"><i class="fa fa-plus"></i> Add Office</button>
                        </div>
                    </div>
                </section>
            </div>
            <div id="serviceGrid" ui-grid="vmFastWebOrders.serviceGrid"
                 ui-grid-move-columns
                 ui-grid-selection
                 ui-grid-auto-resize
                 ui-grid-edit
                 ui-grid-pagination
                 ui-grid-exporter
                 ui-grid-resize-columns
                 ui-grid-pinning
                 ui-grid-cellnav
                 ui-grid-custom-cell-select
                 ui-grid-tree-view class="ui-grid-selectable">
            </div>
        </div>
    </div>
</div>
