

<div>
    <div antiforgerytoken></div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Audit Details</h3>
    </div>
    <div class="widget-content">
        <form name="groupAuditForm" class="serviceForm">
            <div>
                <div>
                    <label>UserName</label>
                    <input class="input" type="text" disabled ng-model="vmAudit.entity.UserName" />
                </div>
                <div>
                    <label>Event Date</label>
                    <input class="input" type="text" disabled ng-model="vmAudit.entity.EventDateutc" />
                </div>
                <div>
                    <label>Event Type</label>
                    <input class="input" type="text" disabled ng-model="vmAudit.entity.EventType" />
                </div>
                <div>
                    <label>Table Name</label>
                    <input class="input" type="text" disabled ng-model="vmAudit.entity.TableName" />
                </div>
                <div>
                    <label>Record Id</label>
                    <input class="input" type="text" disabled ng-model="vmAudit.entity.RecordId" />
                </div>
                <div>
                    <label>Property</label>
                    <input class="input" type="text" disabled ng-model="vmAudit.entity.Property" />
                </div>
                <div>
                    <label>Original Value</label>
                    <textarea class="input" rows="6" wrap="soft" multiple disabled ng-model="vmAudit.entity.OriginalValue" />
                </div>
                <div>
                    <label>New Value</label>
                    <textarea class="input" rows="6" wrap="soft" multiple disabled ng-model="vmAudit.entity.NewValue" />
                </div>
                <div>
                    <label>Section</label>
                    <input class="input" type="text" multiple disabled ng-model="vmAudit.entity.Section"  />
                </div>
            </div>
            
        </form>
    </div>
</div>
