<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Release Notification :</h4>
        </div>
        <div class="modal-body" id="modal-body" style="text-align:left;font-size:14px;">
            <p style="line-height:1.5;">An Update has been made to <b>LVIS Tower Application</b> since you last Logged on. You must clear your Browser Cache and Cookies for Optimum Application Experience. Please clear your Browser Cache and Cookies before proceeding to the Application.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" style="width:120px" type="button" ng-click="vm.ok()">Ok</button>
        </div>
    </script>
</div>

