
<div id="fastInfoPanel"
     ng-class="{'hideFastInfoPanel':vm.fastEnvironmentData.EnableFastInfo === false}"
     ng-click="vm.handletooltip()">
    FAST Env Info
    <span 
     uib-tooltip-template="'ext-modules/psMenu/fastinfotooltip.html'"
     tooltip-placement="bottom-right"     
     tooltip-is-open="vm.tooltipOpenIndicator"
     tooltip-class="customClass"
     tooltip-popup-close-delay="250"></span>
</div>

<style>
    /* Specify styling for tooltip contents */
    .tooltip.customClass {
        color: #fff;
        background-color: black;
        width: 1050px;
        vertical-align: middle;
        border-radius: 2%;
        background-color: #5cb85c;
        top: 32px !important;
    }

        .tooltip.customClass .tooltip-inner {
            background-color: #5cb85c;
            color: #fff;
        }

        .tooltip.customClass .tooltip-arrow {
            display: none;
        }
</style>
