<div>
    <script type="text/ng-template" id="mySecurityModalContent.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">User Session Expired :</h4>
        </div>
        <div class="modal-body" id="modal-body" style="text-align:left;font-size:14px;">
            <p style="line-height:1.5;">User Session has timed out due to 30 Minutes of Inactivity.Please click on the Login button to start a New Session</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" style="width:120px" type="button" ng-click="vm.ok()">LOG IN</button>
        </div>
    </script>
</div>

