<div antiforgerytoken></div><div>    
    <div class="widget-header">
        <button type="button" class="close" ng-click="$close()" aria-hidden="true">&times;</button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Edit User Profile</h3>
    </div>
    <div class="widget-content">        
        <form name="serviceForm" class="serviceForm" novalidate>
            <div class="well well-sm">
                <b> User Profile</b>
            </div>
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group">
                <label>User Id</label>
                <input class="input" type="text"  disabled value="{{vm.entity.UserName}}" required />
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="input" type="text" disabled ng-model="vm.entity.Name"  required/>
            </div>
            <div class="form-group" ng-show="vm.ShowTenants">
                <label>Tenant</label>
                <select ng-model="vm.entity.TenantId" ng-disabled="!vm.MangeTenantAccess" ng-options="obj.TenantId as obj.TenantName for obj in vm.Tenants | orderBy:'TenantName'"></select> 
            </div>
            <div class="form-group">
                <label class="label-md">Activity Rights</label>
                <label class="radio-inline radio-inline-modified" ng-repeat="Rights in vm.ApplicationRoles">
                    <input class="input" type="radio" name="ActivityRadio" ng-model="vm.entity.Role" ng-value="Rights" required/>{{Rights}}
                </label>
            </div>

            <div class="form-group">
                <label style="width:145px">
                    Active
                    <input class="input" type="checkbox" ng-model="vm.entity.IsActive" ng-true-value="true" ng-false-value="false">
                </label>
            </div>
       
            <div class="well well-sm" ng-show="vm.hasExceptionManageAccess">
                <b>User Rights</b>
            </div>
            <div class="form-group" ng-show="vm.hasExceptionManageAccess">
                <label class="label-lg">
                    Manage TEQ
                    <input type="checkbox" ng-model="vm.entity.ManageTEQ" ng-true-value="true" ng-false-value="false">
                </label>
            </div>
            <div class="form-group" ng-show="vm.hasExceptionManageAccess">
                <label class="label-lg">
                    Manage BEQ
                    <input class="input" type="checkbox" ng-model="vm.entity.ManageBEQ" ng-true-value="true" ng-false-value="false">
                </label>
            </div>
            <div class="form-group" ng-show="vm.hasAccessrightAccess">
                <label class="label-lg">
                    Manage Access Request
                    <input class="input" type="checkbox" ng-model="vm.entity.ManageAccessREQ" ng-true-value="true" ng-false-value="false">
                </label>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="serviceForm.$invalid && !hasModifyAccess|| !serviceForm.$dirty" ng-click="vm.save()">Save</button>
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
</div>