<div antiforgerytoken></div>
<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>Unbind Service Request</h3>
</div>
<div class="widget-content">
    <div growl inline="true"></div>

        <form name="UNBINDForm" class="serviceForm">

        <div class="well well-sm"><b>Please search for an order to UNBIND</b><i class="pull-right fa"></i></div>
            
        <div class="form-group">

            <div class="form-group">
                <label class="label-lg">Internal Reference Number</label>
                <input class="input" type="text" required  ng-model="vmBEQException.entity.FastFile" />
            </div>
            <div class="form-group">
                <label class="label-lg">Region ID</label>
                <input type="text" class="input" placeholder="Search for a Region" ng-blur="clearSearch()" required ng-model="vmBEQException.entity.Region" uib-typeahead="obj as obj.Name for obj in vmBEQException.RegionList | filter:$viewValue">
            </div>
            <div>
            <button class="btn btn-primary" ng-click="UNBINDForm.$valid && vmBEQException.SearchFile()">Search</button>
                <div style="display:inline-block; margin:0 auto;" ng-show="vmBEQException.loading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
      
            </div>
        </div>
    <div ng-show="vmBEQException.show">

        <div class="col-md-12 well well-sm" ng-show="!vmBEQException.PotentialMatches.length">
            <b>No Match Found</b>
        </div>

        <div class="form-group col-sm-12"  ng-show="vmBEQException.PotentialMatches.length">
            <div class="col-md-12 well well-sm">
                <b>Matches Found</b>
            </div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Internal Reference Number</th>
                        <th>Region</th>
                        <th>Office</th>
                        <th>Transaction</th>
                        <th>Address</th>
                        <th>City, State</th>
                        <th>County</th>
                        <th>Service</th>
                        <th>Buyer</th>
                        <th>Officer Name</th>
                        <th>Loan Number</th>
                        <th>New Loan Lender</th>
                        <th>1st Loan Amount</th>
                        <th>Open Date</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="Match in  vmBEQException.PotentialMatches">
                        <td>
                            <button type="button" ng-disabled="!vmBEQException.Messageunbindchanged " class="btn btn-primary btn-sm" ng-click="vmBEQException.UNBind(Match)">UNBIND  </button>
                        </td>
                        <td>{{Match.FileNumber}}</td>
                        <td>{{Match.RegionName}}</td>
                        <td>{{Match.OfficeName}}</td>
                        <td>{{Match.TransactionType}} </td>
                        <td>{{Match.PropertyAddress}}</td>
                        <td>{{Match.City}},{{Match.StateName}}</td>
                        <td>{{Match.County}}</td>
                        <td>{{Match.ServiceType}}</td>
                        <td>{{Match.Buyer}}</td>
                        <td>{{Match.OfficerName}}</td>
                        <td>{{Match.LoanNumber}}</td>
                        <td>{{Match.NewLoanLender}}</td>
                        <td>{{Match.FirstNewLoanAmount}}</td>
                        <td>{{Match.OpenDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</form>


</div>




