<div antiforgerytoken></div>
<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>Update FAST Info</h3>
</div>
<div class="widget-content">


    <div growl inline="true"></div>

    <form name="FastUpdate" class="serviceForm">

        <div class="form-group">
            <div class="form-group required">
                <label required class="label-lg">External Reference Number</label>
                <input required class="input" type="text" ng-model="vmBEQException.ExternalRefNum" />
            </div>
            <div class="form-group required" ng-if="vmBEQException.isPotentialMathcFound">
                <label class="label-lg">Internal Reference Number</label>
                <input required class="input" type="text" ng-model="vmBEQException.entity.update.FileNumber" />
            </div>
            <div class="form-group required" ng-if="!vmBEQException.isPotentialMathcFound">
                <label class="label-lg">Internal Reference Number</label>
                <input required class="input" type="text" ng-model="vmBEQException.FileNumber" />
            </div>
            <div class="form-group" ng-if="!vmBEQException.isPotentialMathcFound">
                <label class="label-lg">Region ID</label>
                <input type="text" class="input" placeholder="Search for a Region" ng-blur="clearSearch()" ng-model="vmBEQException.Region" uib-typeahead="obj as obj.Name for obj in vmBEQException.RegionList | filter:$viewValue">
            </div>
        </div>


    </form>
    <!-- ng-disabled="FastUpdate.$invalid"-->
    <div class="modal-footer">
        <button class="btn btn-success" ng-if="!vmBEQException.isPotentialMathcFound" ng-click="vmBEQException.SearchFile()">SearchFile</button>
        <button class="btn btn-success" ng-disabled="(FastUpdate.$invalid ||(!vmBEQException.fileFound && !vmBEQException.isPotentialMathcFound))" ng-click="vmBEQException.Update()">Update</button>
        <button class="btn btn-success" ng-disabled="(FastUpdate.$invalid ||(!vmBEQException.fileFound && !vmBEQException.isPotentialMathcFound))"  ng-click="vmBEQException.UpdateReject()">Update and Reject</button>
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>

</div>




