<div antiforgerytoken></div>
<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>NEW ORDER</h3>
</div>
<div class="widget-content">

    <div growl inline="true"></div>

    <form name="BusinessExceptionsForm" class="serviceForm">
        <div class="form-group">
            <label class="label-lg">Add Note(s)</label>
            <textarea class="textarea-lg" maxlength="470" spellcheck="false" autogrow ng-trim="true" ng-model="vmBEQException.NewOrderNotes"></textarea>
        </div>

        <label> Please Confirm New Order request for {{vmBEQException.entity.ExternalRefNum}} </label>
    </form>

    <br />

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="vmBEQException.CreateOrderChanged" ng-click="vmBEQException.CreateOrder()">NEW ORDER</button>
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
</div>

