
<div class="widget-header">
    <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
    <i class="fa fa-2x fa-pencil-square-o"></i>
    <h3>Exception Details</h3>
</div>
<div class="widget-content">
    <div growl inline="true"></div>
    <uib-accordion close-others="false">
        <form name="BusinessExceptionsForm" class="serviceForm">
            <div uib-accordion-group ng-init="open=true" is-disabled="false" is-open="open" ng-click="vmBEQException.setFlag(open)">
                <uib-accordion-heading>
                    <div class="well well-sm"><b>Exception Information</b> <i class="pull-right fa" ng-class="{'fa-chevron-up': open, 'fa-chevron-down': !open}"></i></div>
                </uib-accordion-heading>
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label class="label-lg">Tenant</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.Tenant" />
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Exception Type</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.ExceptionType" />
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Internal Reference Number</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.Reporting.InternalRefNum" />
                    </div>
                    <div class="form-group">
                        <label class="label-lg">External Reference Number</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.ExternalRefNum" />
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Customer Reference Number</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.Reporting.CustomerRefNum" />
                    </div>
                    <div class="form-group">
                        <!--<label class="label-lg">Message Type</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.MessageType" />-->
                        <label class="label-lg">Transaction Type</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.TransactionType" />
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Service Type</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.ServiceType" />
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Attachment(s)</label>
                        <div style="display:inline-block; margin:0;">
                            <ul ng-show="vmBEQException.entity.Exceptionid == 0">

                                <li ng-repeat="Child in vmBEQException.entity.children track  by $index">

                                    <a ng-if="!Child.InvolveResolved" href="" ng-click="vmBEQException.setContent(Child.ServiceRequestId)" data-toggle="modal" data-target="#myparent">
                                        {{Child.ServiceType}} <span class="glyphicon glyphicon-paperclip" data-toggle="tooltip" title="Attachment(s)"></span>
                                    </a>
                                </li>
                            </ul>
                            <a href="" ng-show="vmBEQException.entity.Exceptionid != 0" ng-click="vmBEQException.setContent(vmBEQException.entity.ServiceRequestId)" data-toggle="modal" data-target="#myparent">
                                {{vmBEQException.entity.ServiceType}} <span class="glyphicon glyphicon-paperclip" data-toggle="tooltip" title="Attachment(s)"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label class="label-md">Address</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.Address" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">City</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.City" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">State</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.State" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">County</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.County" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Seller</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.Seller" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Buyer</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.Buyer" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Organization</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.Organization" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Lender Name</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.LenderName" />
                    </div>

                </div>
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label class="label-md">Region Name</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.RegionName" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Office Name</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.OfficeName" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Escrow Officer</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.escrowOfficer" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Escrow Officer Email</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.escrowOfficerEmail" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Escrow Assistant</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.escrowAssistant" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Escrow Asst Email</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.escrowAssistantEmail" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Loan Officer</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.BEQException.LoanOfficer" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Created Date</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.CreatedDate" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Last Modified Date</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.LastModifiedDate" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Last Modified By</label>
                        <input class="input" type="text" disabled ng-model="vmBEQException.entity.LastModifiedBy" />
                    </div>

                </div>
                <div class="form-group  col-md-12">
                    <div class="form-group">
                        <label class="label-lg">Status</label>
                        <select ng-model="vmBEQException.entity.Status.ID" ng-options="obj.ID as obj.Name for obj in vmBEQException.StatusList"></select>
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Notes </label>
                        <div style="border:1px solid #DBDCE9;display:inline-block;width:80%;min-height:0px;max-height:120px;overflow-y:scroll" class="textarea-lg">
                            <textarea placeholder="Type Your Notes Here" name="comment" style="min-width:96%" id="comment-textarea" ng-model="vmBEQException.entity.Notes"></textarea>
                            <i class="fa-align-justify fa fa-2x" style="padding:0 2px;margin:0px" ng-click="collapse = !collapse" ng-class="{'fa-angle-double-down': collapse, 'fa-angle-double-up': !collapse}" data-toggle="collapse" data-target="#noteshistory"></i>
                            <div id="noteshistory" class="form-group collapse in">
                                <div class="well well-sm" ng-init="collapse=true">
                                    <b>History</b>
                                </div>
                                <ul>
                                    <li style="padding:2px 3px;" ng-repeat="comnt in vmBEQException.entity.Comments track  by $index">
                                        <label class="small">{{ comnt }}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div>
                        <div style="margin:auto;width:30%;padding:50px;" ng-show="vmBEQException.loading">
                            <i class="fa fa-spinner fa-spin fa-4x fa-fw margin-bottom"></i>
                            Loading Potential Match...
                        </div>
                        <div class="col-md-12 well-sm" ng-show="!vmBEQException.PotentialMatches.length && !vmBEQException.loading">
                            <b>No Potential Match Found</b>
                        </div>

                        <div class="form-group col-sm-12" ng-show="vmBEQException.PotentialMatches.length" style="overflow-x:auto;">
                            <div class="form-group col-sm-12 well-sm">
                                <b>Potential Matches Found</b>
                            </div>

                            <table class="table table-sm" ng-show="!vmBEQException.loading">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>FA Internal Reference Number</th>
                                        <th>Region</th>
                                        <th>Office</th>
                                        <th>Transaction</th>
                                        <th>Address</th>
                                        <th>City, State</th>
                                        <th>County</th>
                                        <th>Service</th>
                                        <th>Buyer</th>
                                        <th>Officer Name</th>
                                        <th>Loan Number</th>
                                        <th>New Loan Lender</th>
                                        <th>Mortgage Broker</th>
                                        <th>1st Loan Amount</th>
                                        <th>Open Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="Match in  vmBEQException.PotentialMatches">
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" ng-click="vmBEQException.Bind(Match)">BIND  </button>
                                        </td>
                                        <td>{{Match.FileNumber}}</td>
                                        <td>{{Match.RegionName}}</td>
                                        <td>{{Match.OfficeName}}</td>
                                        <td>{{Match.TransactionType}} </td>
                                        <td>{{Match.PropertyAddress}}</td>
                                        <td>{{Match.City}},{{Match.StateName}}</td>
                                        <td>{{Match.County}}</td>
                                        <td>{{Match.ServiceType}}</td>
                                        <td>{{Match.Buyer}}</td>
                                        <td>{{Match.OfficerName}}</td>
                                        <td>{{Match.LoanNumber}}</td>
                                        <td>{{Match.NewLoanLender}}</td>
                                        <td>{{Match.MortgageBroker}}</td>
                                        <td>{{Match.FirstNewLoanAmount}}</td>
                                        <td>{{Match.OpenDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="open1" ng-click="vmBEQException.setFlag1(open1)">
                <uib-accordion-heading>
                    <div class="well well-sm"><b>Search</b><i class="pull-right fa" ng-class="{'fa-chevron-up': open1, 'fa-chevron-down': !open1}"></i></div>
                </uib-accordion-heading>
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label class="label-lg">Internal Reference Number</label>
                        <input class="input" ng-change="vmBEQException.ResetRefreshBotton()" type="text" ng-model="vmBEQException.entity.FastFile" />
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Region ID</label>
                        <input type="text" ng-change="vmBEQException.ResetRefreshBotton()" class="input" placeholder="Search for a Region" ng-blur="clearSearch()" ng-model="vmBEQException.entity.Region" uib-typeahead="obj as obj.Name for obj in vmBEQException.RegionList | filter:$viewValue">
                    </div>
                    <div class="form-group">
                        <label class="label-lg">Address</label>
                        <input class="input" ng-change="vmBEQException.ResetRefreshBotton()" type="text" ng-model="vmBEQException.SearchCriteria.Address" />
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <!--<div class="form-group">
        <label class="label-lg">Internal Reference Number</label>
        <input class="input" type="text" ng-model="vmBEQException.SearchCriteria.FileNumber" />
    </div>-->

                    <div class="form-group">
                        <label class="label-md">City</label>
                        <input class="input" ng-change="vmBEQException.ResetRefreshBotton()" type="text" ng-model="vmBEQException.SearchCriteria.City" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">State</label>
                        <input class="input" type="text" ng-change="vmBEQException.ResetRefreshBotton()" ng-model="vmBEQException.SearchCriteria.State" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">County</label>
                        <input class="input" type="text" ng-change="vmBEQException.ResetRefreshBotton()" ng-model="vmBEQException.SearchCriteria.County" />
                    </div>
                    <div class="form-group" ng-if="vmBEQException.showffidSearch">
                        <label class="label-md" >Internal Reference ID</label>
                        <input class="input"  ng-change="vmBEQException.ResetRefreshBotton()" type="text" ng-model="vmBEQException.entity.FastFileID" />
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="form-group">
                        <label class="label-md">Buyer</label>
                        <input class="input" type="text" ng-change="vmBEQException.ResetRefreshBotton()" ng-model="vmBEQException.SearchCriteria.Buyer" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Organization</label>
                        <input class="input" ng-change="vmBEQException.ResetRefreshBotton()" type="text" ng-model="vmBEQException.SearchCriteria.Organization" />
                    </div>
                    <div class="form-group">
                        <label class="label-md">Lender Name</label>
                        <input class="input" type="text" ng-change="vmBEQException.ResetRefreshBotton()" ng-model="vmBEQException.SearchCriteria.LenderName" />
                    </div>
                </div>
                <div style="text-align:right">
                    <button class="btn btn-primary" ng-disabled="disabledResetButton" ng-click="vmBEQException.RefreshSearch()">Reset</button>
                    <button class="btn btn-primary" ng-click="vmBEQException.SearchFile()">Search</button>
                </div>
                <br />
                <div>

                    <div style="margin:auto;width:10%;padding:50px;" ng-show="vmBEQException.Matchloading">
                        <i class="fa fa-spinner fa-spin fa-4x fa-fw margin-bottom"></i>
                        Searching...
                    </div>
                    <div class="col-md-12 well-sm" ng-show="!vmBEQException.FastFilterMatches.length && !vmBEQException.Matchloading">
                        <b>No Search Result(s) Found</b>
                    </div>
                    <div class="form-group col-sm-12" ng-show="vmBEQException.FastFilterMatches.length" style="overflow-x:auto;">
                        <div class="col-md-12 well-sm">
                            <b> Search Results Found</b>
                        </div>

                        <table class="table table-sm" ng-show="!vmBEQException.Matchloading">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Internal Reference Number</th>
                                    <th>Region</th>
                                    <th>Office</th>
                                    <th>Transaction</th>
                                    <th>Address</th>
                                    <th>City, State</th>
                                    <th>County</th>
                                    <th>Service</th>
                                    <th>Buyer</th>
                                    <th>Officer Name</th>
                                    <th>Loan Number</th>
                                    <th>New Loan Lender</th>
                                    <th>Mortgage Broker</th>
                                    <th>1st Loan Amount</th>
                                    <th>Open Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Match in  vmBEQException.FastFilterMatches">
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="vmBEQException.Bind(Match)">BIND  </button>
                                    </td>
                                    <td>{{Match.FileNumber}}</td>
                                    <td>{{Match.RegionName}}</td>
                                    <td>{{Match.OfficeName}}</td>
                                    <td>{{Match.TransactionType}} </td>
                                    <td>{{Match.PropertyAddress}}</td>
                                    <td>{{Match.City}},{{Match.StateName}}</td>
                                    <td>{{Match.County}}</td>
                                    <td>{{Match.ServiceType}}</td>
                                    <td>{{Match.Buyer}}</td>
                                    <td>{{Match.OfficerName}}</td>
                                    <td>{{Match.LoanNumber}}</td>
                                    <td>{{Match.NewLoanLender}}</td>
                                    <td>{{Match.MortgageBroker}}</td>
                                    <td>{{Match.FirstNewLoanAmount}}</td>
                                    <td>{{Match.OpenDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </uib-accordion>
    <br />
    <div class="modal-footer">
        <button class="btn btn-danger col-sm-1" style="width:75px" ng-disabled="!hasResubmitAccess" ng-click="vmBEQException.sendEmail()">EMAIL</button>
        <button class="btn btn-success" ng-disabled="!hasResubmitAccess" ng-click="vmBEQException.save()">Save</button>
        <button class="btn btn-danger" ng-disabled="!hasResubmitAccess" ng-click="vmBEQException.resubmit()">RESUBMIT</button>
        <button class="btn btn-danger" ng-disabled="!hasResubmitAccess  || vmBEQException.BEQException.RegionName == 'Heritage Escrow Company' || vmBEQException.BEQException.IsBindonly" ng-click="vmBEQException.NewOrder()">NEW ORDER</button>
        <button class="btn btn-danger" ng-disabled="!hasResubmitAccess" ng-click="vmBEQException.RejectOrder()">REJECT</button>
        <button class="btn btn-danger" ng-disabled="!hasResubmitAccess" ng-click="vmBEQException.Delete()">DELETE</button>
        <button class="btn btn-danger" ng-show="vmBEQException.entity.ExceptionTypeid == 55" ng-disabled="!hasResubmitAccess" ng-click="vmBEQException.FastUpdate()">Update FAST Info</button>
        <button class="btn btn-primary" ng-click="$close()">Cancel</button>
    </div>
</div>




