<div antiforgerytoken></div>
<div class="ps-dashboard-header" ng-controller="psBusinessExceptionController as vmBEQException">
    <ul class="breadcrumb">
        <li class="subbreadcrumb">
            <ps-sub-menu>
                <ps-sub-menu-item label="Business Exception Queues" activetab="Business Exception Queues" route="businessexception"></ps-sub-menu-item>
                <ps-sub-menu-item label="Technical Exception Queues" route="Exceptions"></ps-sub-menu-item>
                <ps-sub-menu-item label="Terminal Log Information" ng-show="vmBEQException.showMenuloginfo" route="terminalloginformation"></ps-sub-menu-item>
                <ps-sub-menu-item label="FASTWeb Orders" ng-show="vmBEQException.showMenuloginfofastweborders" route="fastweborders"></ps-sub-menu-item>
            </ps-sub-menu>
        </li>
    </ul>
    <div class="wrapper">
        <div class="col-lg-1"></div>
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="vmBEQException.Unbind()">UNBIND</button>
            <ul class="ps-page-title">
                <li>{{vmBEQException.ExceptionType}} Business Exception Queues</li>
            </ul>
            <div growl inline="true"></div>
            <div class="form-group">
                <div class="form-group" style="display:inline-block">
                    <i onMouseOver="this.style.cursor='pointer'" ng-style="mydtStyle" class="fa fa-calendar" title="Search By Date Range" ng-click="ShowHide('showdates')"></i>|<i onMouseOver="this.style.cursor='pointer'" ng-style="mynumStyle" class="fa fa-bars" title="Search By Reference Number" ng-click="ShowHide('showrefnum')"></i>
                </div>
                <div ng-show="vmBEQException.showdates" class="form-group" style="display:inline-block">
                    <label>Start Date: </label>
                    <input ng-disabled="vmBEQException.Disabledate" ng-model="vmBEQException.Fromdate" datetime-picker date-format="MM/dd/yyyy" date-only />
                    <label> End Date: </label>
                    <input ng-disabled="vmBEQException.Disabledate" ng-model="vmBEQException.ThroughDate" datetime-picker date-format="MM/dd/yyyy" future-only date-only />
                    <label> Date Filter: </label>
                    <select ng-change="vmBEQException.changeSelect(vmBEQException.FilterSection)" ng-model="vmBEQException.FilterSection" ng-options="obj.value as obj.title for obj in vmBEQException.DateFilterSelection"></select>
                    <label>
                        <input type="checkbox" ng-model="vmBEQException.IncludeResolve" ng-true-value="true" ng-false-value="false">
                        Include "Resolved"
                    </label>
                    <div style="display:inline-block;margin-left:0.5em;cursor:pointer" ng-show="!vmBEQException.Busy">
                        <i class="fa fa-search" ng-click="vmBEQException.search()"></i>
                    </div>
                    <div style="display:inline-block; margin:0 auto;" ng-show="vmBEQException.Busy">
                        <i class="fa fa-spinner fa-spin"></i>
                        <span class="help-block with-errors" ng-show="vmBEQException.ValidateError">
                            End date cannot be earlier than the Start date
                        </span>
                    </div>
                </div>
                <div ng-show="vmBEQException.showrefnum" class="form-group" style="display:inline-block">
                    <label>Search By</label>
                    <select ng-change="vmBEQException.changerefSelect(vmBEQException.FilterReferenceNoSection)" ng-model="vmBEQException.FilterReferenceNoSection" ng-options="obj.value as obj.title for obj in vmBEQException.ReferencenoFilterSelection"></select>
                    <input class="input" ng-disabled="vmBEQException.DisableReferenceNo" type="text" required ng-model="vmBEQException.ReferenceNo" />
                    <div style="display:inline-block;margin-left:0.5em;cursor:pointer" ng-show="!vmBEQException.BusyRef">
                        <i class="fa fa-search" ng-click="vmBEQException.searchbyReferenceNo()"></i>
                    </div>
                    <div style="display:inline-block; margin:0 auto;" ng-show="vmBEQException.BusyRef">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
            <div id="serviceGrid" ui-grid="vmBEQException.serviceGrid"
                 ui-grid-move-columns
                 ui-grid-selection
                 ui-grid-auto-resize
                 ui-grid-edit
                 ui-grid-pagination
                 ui-grid-exporter
                 ui-grid-resize-columns
                 ui-grid-pinning
                 ui-grid-cellnav
                 ui-grid-custom-cell-select
                 ui-grid-tree-view class="ui-grid-selectable">
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
