<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add New Webhook</h3>
    </div>
    <div class="widget-content">
        <form name="WebhookAddForm" class="serviceForm" novalidate>
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group">
                <div class="form-group required">
                    <label class="label-md">URL</label>
                    <input ng-pattern="/^(http[s]?://)[a-zA-Z0-9-]{1,}[.]{1,}[a-zA-Z0-9]{1,}[.]?[a-zA-Z0-9\.]+/"
                           style="width:320px" class="select-md" type="text" name="webhookURL" required ng-model="webhook.entity.URL" />
                    <div ng-if="WebhookAddForm.webhookURL.$dirty" ng-min class="help-block with-errors" ng-messages="WebhookAddForm.webhookURL.$error">
                        <p ng-message="required">URL cannot be empty.</p>
                        <p ng-message="pattern">Please enter a valid URL.</p>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="label-md">Secret</label>
                    <input style="width:320px" class="select-md" type="text" required ng-model="webhook.entity.Secret" />
                </div>
                <div class="form-group">
                    <label class="label-md">X API Key</label>
                    <input style="width:320px" class="select-md" type="text"  ng-model="webhook.entity.X_API_ID" />
                </div>

                <div class="form-group required">
                    <div>
                        <label class="label-md">Action Type</label>
                        <select class="select-md" ng-model="webhook.entity.ActionType" ng-change="webhook.LoadActionType()" ng-options="obj for obj in webhook.LoadActionTypeList" required>
                            <option value="">--Select--</option>

                        </select>
                    </div>
                </div>
                <div class="form-group required">
                    <div>
                        <label class="label-md">Max Attempts</label>
                        <select class="select-md" ng-model="webhook.entity.MaxAttempts" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group required">

                        <label class="label-md" style="width:167px">
                            Active
                            <input class="input" ng-model="webhook.IsActive" type="checkbox" ng-click="webhook.setActiveField()" />
                        </label>

                    </div>
                </div>
</form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="WebhookAddForm.$invalid" ng-click="webhook.save('add')">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>