<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Add Webhook Domain</h3>
    </div>
    <div class="widget-content">
        <form name="WebhookAddForm" class="serviceForm" novalidate>
            <div growl inline="true" limit-messages="1"></div>
            <div class="form-group">
                <!--         <div class="form-group">-->
                <input type="hidden" ng-model="domainList.entity.UserId" />
                <!--</div>
        <div class="form-group required">-->
                <label class="label-md">Domain</label>
                <input ng-pattern="/(?=^.{4,253}$)(^((?!-)[a-zA-Z0-9-]{1,63}(?<!-)\.)+[a-zA-Z]{2,63}$)/"
                       style="width:320px" class="select-md" type="text" name="domain" required ng-model="webhookDomain.entity.Domain" />
                <div ng-if="WebhookAddForm.domain.$dirty" ng-min class="help-block with-errors" ng-messages="WebhookAddForm.domain.$error">
                    <p ng-message="required">Domain cannot be empty.</p>
                    <p ng-message="pattern">Please enter a valid Domain.</p>
                </div>
                <!--<button class="btn btn-success" ng-disabled="WebhookAddForm.$invalid" ng-click="domainList.save('edit')">Add</button>-->
                <!--</div>-->

            </div>
       </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="WebhookAddForm.$invalid" ng-click="webhookDomain.save('add')">Save</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>