<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-plus"></i>
        <h3>Webhook Domains</h3>
    </div>
    <br />
    <button class="btn btn-sm" style="cursor:pointer" ng-hide="!hasAccess" ng-click="addRowDomain()"><i class="fa fa-plus"></i>Add Webhook Domain</button>


    <div growl inline="true"></div>
    <div id="serviceBranchGrid" ui-grid="domainList.serviceBranchGrid"
         ui-grid-grouping
         ui-grid-move-columns
         ui-grid-selection
         ui-grid-exporter
         ui-grid-resize-columns
         ui-grid-pinning
         ui-grid-auto-resize
         ui-grid-edit
         ui-grid-custom-cell-select
         ui-grid-pagination class="ui-grid-selectable"></div>
</div>

<div class="modal-footer">
    <!--<button class="btn btn-success" ng-disabled="WebhookAddForm.$invalid" ng-click="webhook.save('edit')">Save</button>
    <button class="btn btn-danger" ng-disabled="!hasSuperAccess" ng-click="webhook.remove()">Delete</button>-->
<div>
    <br /><button class="btn btn-primary" ng-click="$close()">Cancel</button>
</div>
</div>


<style>
    .modal-webhookDomainSize {
        width: 600px;
        height: 800px !important;
    }
</style>