<div antiforgerytoken></div>
<div>
    <div class="widget-header">
        <button type="button" ng-click="$close()" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <i class="fa fa-2x fa-pencil-square-o"></i>
        <h3>Edit Contact</h3>
    </div>
    <div class="widget-content">
        <form class="serviceForm" name="EditBranchForm">
            <div growl inline="true" limit-messages="1"></div>

            <div class="form-group">
                <label>Location ID</label>
                <input class="input" ng-disabled="true" type="text" name="LocationId" title="{{vbranchmap.entity.LocationId}}" required ng-model="vbranchmap.entity.LocationId" />
                <div class="help-block" ng-messages="EditBranchForm.LocationId.$error">
                </div>
            </div>
            <div class="form-group">
                <label>Location Name</label>
                <input class="input" ng-disabled="true" type="text" name="LocationName" required title="{{vbranchmap.entity.LocationName}}" ng-model="vbranchmap.entity.LocationName" />
                <div class="help-block" ng-messages="EditBranchForm.LocationName.$error">
                </div>
            </div>
            <div class="form-group required" ng-class="{ 'has-error' : EditBranchForm.ContactId.$invalid && !EditBranchForm.ContactId.$touched }">
                <label>Contact ID</label>
                <input required ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" class="input" type="text" name="ContactId" ng-model="vbranchmap.entity.LvisContactid" />
                <div ng-if="EditBranchForm.ContactId.$dirty" class="help-block" ng-messages="EditBranchForm.ContactId.$error">
                    <p ng-message="required">Contact Id cannot be empty.</p>
                    <p ng-message="pattern">Invalid Email Address are not allowed</p>
                </div>
            </div>
            <ng-form name="MultiSelectform">
                <div ng-show="ServicePreferenceShow" class="form-group required" ng-class="{ 'has-error' : MultiSelectform.ServicePreference.$invalid && !MultiSelectform.ServicePreference.$touched }">
                    <label>Service Preference </label>
                    <div class="select-sm" required isteven-multi-select
                         input-model="vbranchmap.ServicePrefrences"
                         output-model="vbranchmap.entity.ServicePreference "
                         button-label="Name"
                         item-label="Name"
                         tick-property="Ticked"
                         helper-elements="all none"
                         selection-mode=""
                         style="display:inline-block; padding:0px;width:196px; margin:0;"
                         >
                    </div>
                    <input type="text" ng-show="false" ng-model="vbranchmap.entity.ServicePreference" name="ServicePreference" style="display:none" ng-required="ServicePreferenceShow" />
                </div>
            </ng-form>
            <div class="form-group">
                <label style="width:145px">
                    Active
                    <input class="input" type="checkbox" ng-model="vbranchmap.entity.IsActive" ng-true-value="true" ng-false-value="false">
                </label>
            </div>
        </form>
        <br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="!hasAccess || EditBranchForm.$invalid || (MultiSelectform.ServicePreference.$invalid && ServicePreferenceShow)" ng-click="vbranchmap.save()">Save</button>
            <!--<button class="btn btn-danger" ng-disabled="!hasSuperAccess" ng-click="vbranchmap.remove()">Delete</button>-->
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>
